// =============================
//   Video style
// =============================

.c-video {    
    background-color: $black;
    padding: 80px 50px;
    background: {
        image: url(../images/general/fondoFooter.jpg);
        size: cover;
        position: center;
    };
    
    @include e(content) {
        max-width: 800px;
        margin: auto;
    }
    
    @include e(wrapper) {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        width: 100%;
        margin: auto;
    }
}