// =============================
//   Footer style
// =============================

.c-footer {
  background-color: #F2F2F2;
  background: {
    image: url(../images/general/fondoFooter.jpg);
    size: cover;
    position: center;
  };
  padding: 50px 30px;
  z-index: 3;
  position: relative;
  text-align: center;
  clear: both;

  @include mq(mobile) {
    padding: 64px 15px 20px;
  }

  @include e(contacto) {
    @include mq(tablet) {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @include e(logo) {
    @include mq(tablet) {
      max-width: 100px;
    }
  }

  @include e(title) {
    color: #FFF;
  }

  @include e(text) {
    color: #FFF;
  }

  @include e(container) {
    text-align: initial;
    //border-bottom: 1px solid #dcdcdc;

    @include flexbox;
    @include justify-content(space-between);
    @include align-items(flex-start);
    @include mq(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @include e(socialIcons) {
    width: 100%;
    max-width: 320px;
    text-align: right;

    @include mq(mobile-wide) {
      text-align: left;
      max-width: 220px;

      @include flexbox;
      @include justify-content(space-between);
      @include align-items(center);
    }
  }

  @include e(socialIcon) {
    display: inline-block;
    padding: 0 10px;

    @include opacity(1);
    @include transition;

    &:hover,
    &:active,
    &:focus {
      @include opacity(0.5);
      @include transition;
    }

    @include mq(mobile-wide) {
      padding-right: 10px;
      padding-left: 0;
      max-width: 35px;
    }
  }

  @include e(copyright) {
    margin-top: 34px;
    margin-bottom: 0;
    text-align: left;

    @include font(em(14), $font-family-primary, $dove-gray, $font-weight-bold, em(24, 14));

    @include mq(mobile) {
      margin-top: 27px;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: -0.17px;
      margin-bottom: 35px;
    }
  }

  @include e(menu) {
    width: 100%;
  }

  @include e(menuItem) {
    display: inline-block;
  }

  @include e(menuLink) {
    margin-right: 18px;
    letter-spacing: -0.14px;

    @include font(14px, $font-family-primary, $tudora, $font-weight-bold, 24px);
    @include transition;

    &:hover,
    &:active,
    &:focus {
      color: lighten($tudora, 15%);
      @include transition;
    }
  }

  @include e(donacion) {
    text-align: center; 
    margin: 25px auto; 
    margin-bottom: 0; 
    padding: 0 80px;
    
    @include mq(tablet) {
      padding: 0;            
    }    
  }

  @include e(socialText) {
    @include font(em(18), $font-family-secondary, $tudora, $font-weight-bold, em(24, 18));

    @include mq(mobile) {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.2px;
    }
  }
}

