// =============================
//   Legales style
// =============================

.c-legales {
  background-color: $color-primary-alt;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 298px 120px 113px;

  @include mq(tablet-wide) {
    padding: 100px 55px 80px;
  }

  @include mq(mobile-wide) {
    padding: 80px 30px 50px;
  }

  @include e(title) {
    letter-spacing: -0.29px;

    @include font(em(20), $font-family-secondary, $color-primary, $font-weight-bold, em(43, 20));
  }

  @include e(h1) {
    display: none;

    @include mq(tablet-wide) {
      display: block;
      letter-spacing: -0.64px;
      top: 138px;
      left: 50px;
      max-width: 500px;

      @include font(45px, $font-family-secondary, $white, $font-weight-bold, 48px);
    }

    @include mq(mobile) {
      display: block;
      letter-spacing: -0.51px;
      margin-bottom: 40px;

      @include font(36px, $font-family-secondary, $white, $font-weight-bold, 40px);
    }
  }

  @include e(body) {
    margin-bottom: 40px;
    letter-spacing: -0.19px;

    @include font(em(13), $font-family-primary, $silver-chalice, $font-weight-regular, em(23, 13));
  }

  @include e(button) {
    margin-top: 70px;
    text-align: center;
  }
}