// =============================
//   Menu style
// =============================

// components/_components.menu.scss

:root {
    --menu-color: var(--color-black);
    --menu-item-hover-bg-color: transparent;
    --menu-item-hover-color: var(--color-verde);
    --menu-item-gap: #{space-mult(3)};
    --menu-height: var(--header-logo-height);
    --menu-item-border-radius: var(--border-tiny);
    @include mq(tablet-wide) {
        --menu-color: var(--font-color-primary);
    }
}

.c-menu {
    color: var(--menu-color);
    height: var(--menu-height);

    & i {
        top: 2px;
        position: relative;
    }

    & li a::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #558ed5;
        transition: width 0.3s;
        margin-top: 15px;
    }

    & li a:hover {
       color: #558ed5;
    }

    & li a:hover::after {
        width: 100%;
    }

    & .current-menu-item {
        font-weight: $font-weight-bold !important;
    }

    & .current-menu-item::after {
        width: 100%;
    }

    @include e(destacado) {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }

    & .menu-item {
        align-items: center;
        color: $white;
        display: inline-block;
        height: 100%;
        margin-left: 0;
        padding: 30px 15px;
        font-weight: $font-weight-regular;
        font-size: 15px;

        @include mq(tablet) {
            padding: 0 15px;
            margin-bottom: 5px;
        }

        @include border-radius(var(--menu-item-border-radius));

        & .sub-menu {
            display: none;

            @include mq(tablet-wide) {
                display: block;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        i {
            margin-right: space-mult(2);
        }

        /* @include pixel-hover-full {
            background-color: var(--menu-item-hover-bg-color);
            color: var(--color-white);
        } */

        @include m(button) {
            min-width: auto;

            //@include create-button(var(--color-primary), var(--color-white));
        }
    }

    @include mq(tablet-wide) {
        position: fixed;
        z-index: var(--zindex-overlay);
        background-color: $black;
        width: 100%;
        left: 0;
        top: 0;
        padding: 90px 20px;
        height: 100vh;
        overflow-y: scroll;
        pointer-events: none;
        flex-direction: column;
        justify-content: flex-start;
        color: var(--menu-color);
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        @include transform(scale(0.85));
        @include opacity(0);
        @include transition;

        &.show {
            pointer-events: auto;
            @include transform(scale(1));
            @include opacity(1);
            @include transition;
        }

        .menu-item {
            @include flexbox();
            @include flex-direction(column);
            height: auto;
            margin-bottom: 26px;
            padding-left: 0;
            padding-right: 0;

            @include mq(tablet-wide) {
                margin-bottom: 10px;
                padding: 15px;
            }

            @include mq(tablet) {
                margin-bottom: 10px;
                padding: 0;
            }

            &.current-menu-item {
                & > a {
                    color: $white;
                }
            }

            & a {
                font-family: $font-family-primary;
                font-weight: bold;
                font-size: 30px;
                line-height: 30px;
                letter-spacing: -0.31px;
                color: $white;
                text-transform: none;

                @include mq(mobile-wide) {
                    font-size: 18px;
                }

                &:hover,
                &:focus,
                &:active {
                    color: var(--color-verde);
                }
            }

            & .sub-menu {
                margin-top: 26px;
            }

            & .sub-menu a {
                font-weight: var(--font-weight-bold);
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 4.5px;
                text-transform: uppercase;

                &:hover,
                &:focus,
                &:active {
                    color: var(--color-verde);
                }
            }
        }
    }
}

.open-submenu-desktop {
    display: flex !important;
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include flex-direction(column);
    width: 100%;
    background: $black;
    position: absolute;
    max-width: 220px;
    margin-left: 0 !important;
    top: 106px;
}

.sub-menu {
    padding: 18px;
}

.sub-menu.open-submenu-desktop li {
    padding: 7px;
}

.sub-menu li a {
    text-transform: uppercase !important;
    font-size: 12px;
    /* color: #558ed5; */
}

.sub-menu li a:hover {
    color: #558ed5;
}