// =============================
//   Hero style
// =============================

   /* Desktop */

   $hero-height: 100vh;

   .c-hero {
    height: $hero-height;
    width: 100%;
    position: relative;
    background-position: center top;
    background-size: cover;
    overflow: hidden;

    @include flexbox;
    @include justify-content(flex-start);
    @include flex-direction(column);
    @include align-items(center);

    @include mq(tablet-wide) {
      height: 725px;
      height: 100vh;

      @include justify-content(center);
    }

    @include mq(mobile-wide) {
      height: 570px;
    }   

    @include e(poster) {
      position: relative;
      z-index: 2;

      @include mq(mobile-wide) {
        transform: scale(1.5) translateX(12px);
      }
    }

    @include e(container){
      @include flexbox;
      @include justify-content(center);

      @include mq(tablet-wide){

        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        //position: absolute;
     //   top: 138px;
        width: auto;
      //  left: 40px;
      //  right: 40px;
      }

      @include mq(mobile-wide){
        position: initial;
        width: 90%;
      }
    }

    @include e(content) {
      text-align: center;
      cursor: pointer;
      z-index: 10;
      position: relative;

      @include m(alt) {
        position: absolute;
        left: 150px;
        text-align: left;
        max-width: 500px;
        bottom: 22%;
        cursor: default;

        @include mq(tablet-wide) {
          text-align: center;
          bottom: 40%;
          left: auto;
          right: auto;
        }

        @include mq(mobile-wide) {
          bottom: 90px;
        }

        .c-hero__title {
          display: block;
          font-size: 60px;
          line-height: 64px;
          letter-spacing: -0.86px;
          text-align: left;
          position: relative;
          top: auto;
          left: auto;
          max-width: 600px;

          @include mq(tablet-wide) {
            text-align: center;
          }

          @include mq(mobile-wide) {
            font-size: 36px;
            line-height: 40px;
            letter-spacing: -0.51px;
            margin-bottom: 5px;
          }
        }
      }

      @include m(copy) {
        z-index: 1;        
        margin: 0;
        @include mq(tablet-wide) {          
          @include flexbox;
          @include justify-content (center);
          @include align-items(center);
          @include flex-direction(column);          
          padding: 10px 10px 10px 20px;
          top: auto;
          left: auto;
          position: initial;
        }

        @include mq(mobile-wide) {        
          width: 90%;        
        }
      }
    }

    @include e(subtitle) {
      letter-spacing: -0.23px;
      text-transform: uppercase;

      @include font(16px, $font-family-primary, $white, $font-weight-light, 24px);

      strong {
        font-weight: bold;
      }

      @include mq(mobile-wide) {
        font-size: 13px;
        line-height: 24px;
        letter-spacing: -0.19px;
      }
    }

    @include e(copy){
      font-family: $font-family-primary;
      color: $white;
      font-size: 20px;
      line-height: 27px;
      width: 90%;
      margin: 0;

      @include mq(tablet-wide){

        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        font-size: 16px;
        line-height: 21px;
        width: 100%;
        padding: 0;
      }

        @include m(extended){
          font-family: $font-family-secondary;
          font-weight: $font-weight-bold;
        }
      }

      @include e(subcopy){

       color: $white;
       font-family: $font-family-primary;
       margin: 10px 0 0 0;
       @include mq(tablet-wide){
        font-size: 11px;
        width: 100%;
        margin: 0;
        padding-top: 5px;
      }
    }

    @include e(videotext) {
      color: $color-primary;
      font-size: em(14);
      line-height: em(14, 14);
      margin-top: 25px;

      @include mq(mobile) {
        display: none;
      }
    }

    @include e(title) {   
      z-index: 10;
      text-align: left;
      max-width: 550px;
      @include font(50px, $font-family-secondary, #558ed5, $font-weight-regular, 50px);
      font-weight: $font-weight-regular;
      @include mq(tablet-wide) {
        display: none;
        letter-spacing: -0.64px;
        max-width: 350px;        

        @include font(35px, $font-family-secondary, #558ed5, $font-weight-regular, 35px);
      }

      @include mq(mobile-wide){
        display: none;
        @include font(30px, $font-family-secondary, #558ed5, $font-weight-regular, 30px);
      }

      @include mq(mobile) {
        
        letter-spacing: -0.51px;
        
        position: absolute;

        @include font(36px, $font-family-secondary, $white, $font-weight-bold, 40px);
      }
    }

    @include e(play) {
      @include mq(tablet-wide) {
        width: 100px;
      }

      @include mq(mobile) {
        width: auto;
      }
    }

    @include e(background-image) {
      @include position-absolute-full();

      img {
        @include object-fit;
      }

      @include m(hidden){
        display: none;
        @include mq(mobile-wide) {
          display: block;
        }
      }
      @include m(hidden-xs){
        @include mq(mobile-wide) {
          display: none;
        }
      }
    }

     @include align-items(flex-start);
     padding-left: 120px;

     @include mq(tablet-wide) {
       padding-left: 40px;
     }

    @include m(centered) {
      @include justify-content(center);
    }
  }