// =============================
//   Galerias style
// =============================

.c-galerias {
  background-color: $white;
  padding: 150px 0;

  @include mq(tablet-wide) {
    padding: 40px 20px 100px;
  }

  @include mq(mobile-wide) {
    padding: 30px 20px 75px;
  }

  @include e(tabs) {
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    margin-bottom: 125px !important;

    @include user-no-select;
    @include flexbox;

    @include mq(tablet-wide) {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 660px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 70px !important;
    }

    @include mq(mobile-wide) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 23px !important;

      @include flex-direction(column);
    }

    @include e(item) {
      margin-right: 60px;
      cursor: pointer;
      padding-bottom: 5px;
      border-bottom: 2px solid $white;

      @include opacity(0.5);
      @include font(16px, $font-family-secondary, $black, $font-weight-regular, 20px);

      @include mq(tablet-wide) {
        margin-right: 30px;
      }

      @include mq(mobile-wide) {
        font-size: 14px;
        margin-right: 20px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.active {
        @include opacity(1);
        border-bottom: 2px solid $black;
      }
    }
  }

  @include e(caruseles) {
    position: relative;
    min-height: 500px;

    @include e(arrow) {
      position: absolute;
      top: 30%;
      left: -20px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      z-index: 999;

      &.swiper-button-disabled {
        display: none;
      }

      @include m(next) {
        right: -20px;
        left: auto;

        @include transform(rotate(180deg));
      }
    }
  }
}

.o-galeria {
  @include opacity(0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include mq(mobile-wide) {
    overflow: initial;
  }

  &.active {
    @include opacity(1);
    z-index: 2;
    visibility: inherit;
  }

  @include e(item) {
    width: 306px;
    display: inline-block;
    position: relative;

    @include mq(mobile-wide) {
      &::before {
        content: '';
        background: url('../images/icons/resize.svg');
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        width: 44px;
        height: 48px;
      }
    }

    @include e(info) {
      padding-left: 60px;
      margin-top: 50px;
      position: relative;

      @include e(index) {
        position: absolute;
        top: 0;
        left: 0;

        @include font(18px, $font-family-secondary, #323232, $font-weight-regular, 24px);
      }

      @include e(text) {
        letter-spacing: -0.23px;
        margin-bottom: 0;

        @include font(16px, $font-family-secondary, #323232, $font-weight-regular, 26px);

        @include mq(mobile-wide) {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

.swiper-slide {
  width: 306px;

  @include mq(mobile-wide) {
    width: 90%;
    text-align: center;
  }
}

.pswp__button--close {
  background: url('../images/icons/close.svg');
  width: 80px;
  height: 80px;

  @include mq(mobile-wide) {
    top: -15px;
    right: -15px;
    background-image: url('../images/icons/close-white.svg') !important;

    @include transform(scale(0.65));
  }

  @media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
    background-image: url('../images/icons/close-white.svg') !important;
    width: 80px;
    height: 80px;

    @include transform(scale(0.65));
  }
}

.pswp__button--arrow--left {
  left: 100px;

  @include mq(tablet-wide) {
    left: 25px;
  }

  &::before {
    background: url('../images/icons/prev.svg');
    width: 33px;
    height: 18px;

    @include mq(mobile-wide) {
      display: none;
    }
  }
}

.pswp__button--arrow--right {
  right: 100px;

  @include mq(tablet-wide) {
    right: 25px;
  }

  &::before {
    background: url('../images/icons/next.svg');
    width: 33px;
    height: 18px;

    @include mq(mobile-wide) {
      display: none;
    }
  }
}

$photoswipeMargin: 50px;
$mobile-photoswipeMargin: 20px;

.pswp__scroll-wrap {
  margin: $photoswipeMargin;
  background-color: $white;
  padding: 30px;

  @include calc('width', '100% - ' + ($photoswipeMargin * 2));
  @include calc('height', '100% - ' + ($photoswipeMargin * 2));

  @include mq(tablet-wide) {
    margin: $mobile-photoswipeMargin;
    padding: 20px;

    @include calc('width', '100% - ' + ($mobile-photoswipeMargin * 2));
    @include calc('height', '100% - ' + ($mobile-photoswipeMargin * 2));
  }

  @include mq(mobile-wide) {
    background-color: transparent !important;
  }
}

.pswp__top-bar {
  background-color: $white !important;

  @include mq(mobile-wide) {
    background-color: transparent !important;
  }
}

.pswp__caption {
  background-color: transparent !important;
  max-width: 60%;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 0;
  padding-bottom: 50px;
  padding-top: 30px;

  @include mq(tablet-wide) {
    max-width: 90%;
  }

  @include mq(mobile-wide) {
    display: none;
  }

  .o-galeria__item__info__index {
    top: 30px;
  }
}

.pswp__caption__center {
  padding: 0;
}