// =============================
//   Actores style
// =============================

.c-actores {
  position: relative;
  overflow: visible;
  z-index: 10;

  @include m(left) {
    width: 49.7%;
    margin-top: -137px;
    position: relative;
    left: 0;

    @include mq(tablet-wide) {
      width: 50%;
    }

    @include mq(mobile-wide) {
      margin-top: 0;
      width: 100%;
      position: relative;
    }
  }

  @include m(right) {
    width: 57.06%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 137px;

    @include mq(tablet-wide) {
      width: 56.5%;
    }

    @include mq(mobile-wide) {
      margin-top: 0;
      width: 100%;
      position: relative;
    }
  }

  @include e(sinopsis) {
    padding: 0 50px;
    height: 658px;
    width: 86.4%;
    background-color: #FFF;

    @include mq(tablet-wide) {
      padding: 0 50px 40px;
      height: 514px;
      width: 87.4%;
      max-width: 380px;
      z-index: 5;
      position: relative;
    }

    @include mq(tablet) {
      .c-actores__title {
        padding-top: 30px;
      }
    }

    @media only screen and (max-width: 767px) and (min-width: 480px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0;
      padding-bottom: 0;

      @include flexbox;
      @include flex-direction(column);
      @include align-items(flex-start);
      @include justify-content(center);

      .c-actores__title {
        padding-top: 0;
        margin-bottom: 15px;
        font-size: 30px;
      }
    }

    @include mq(mobile-wide) {
      height: auto;
      padding: 40px 30px;
      width: 100%;
      max-width: inherit;
    }
  }

  @include e(card) {
    //padding: 65px 115px;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: crosshair;

    &.open {
      &::after {
        @include transform(rotate(0deg));
        @include transition;
      }
    }

    &::after,
    &::before {
      content: '';
      display: none;
      position: absolute;
      height: 1px;
      width: 37px;
      background-color: $white;
      bottom: 33px;
      left: 11px;
      z-index: 10;

      @include transition;

      @include mq(tablet-wide) {
        display: block;
      }
    }

    &::after {
      @include transform(rotate(90deg));
    }

    @include m(nopadding) {
      padding: 0;
    }

    @include m(hide-mobile) {
      @include mq(mobile-wide) {
        display: none;
      }
    }

    @include m(alberto) {
      height: 910px;
      width: 87.4%;
      //background-image: url('../images/general/alberto.png');
      //background-size: cover

      @include mq(tablet-wide) {
        height: 615px;
      }
    }

    @include m(javier) {
      height: 910px;
      width: 100%;
      //background-image: url('../images/general/Javier.png');

      @include mq(tablet-wide) {
        height: 620px;
      }
    }

    @include m(najwa) {
      height: 908px;
      z-index: 3;
      //background-image: url('../images/general/najwa.png');

      @include mq(tablet-wide) {
        height: 730px;
      }
    }

    @include m(q8) {
      height: 853px;
      z-index: 2;
      //background-image: url('../images/general/Q8.jpg');

      @include mq(tablet-wide) {
        height: 470px;
      }
    }

    @include m(Kike) {
      height: 580px;
      width: 88.1%;
      float: right;
      //background-image: url('../images/general/Kike.png');
      //background-size: cover

      @include mq(tablet-wide) {
        height: 412px;
      }
    }

    &:hover {

      .c-actores__card-overlay {
        @include opacity(0);
        @include transition;
      }

      .c-actores__card-background-image {
        filter: grayscale(0);
        @include transition;
      }
    }
  }

  @include e(card-overlay) {
    @include position-absolute-full;
    background-color: $black;
    z-index: 2;
    pointer-events: none;

    @include opacity(0.3);
    @include transition;
  }

  @include e(card-background-image) {
    @include position-absolute-full;
    filter: grayscale(1);
    @include transition;
  }

  @include e(title) {
    padding-top: 107px;
    letter-spacing: -0.4px;
    margin-bottom: 75px;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    @include font(em(28), $font-family-primary, $mine-shaft, $font-weight-bold, em(24, 28));

    @include mq(tablet-wide) {
      padding-top: 65px;
      margin-bottom: 40px;
    }

    @include mq(mobile-wide) {
      padding-top: 0;
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  @include e(body) {

    & > p {
      margin-bottom: 25px;
      letter-spacing: -0.2px;
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      color: #696868;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71429em;
    }

    @include font(em(14), $font-family-primary, $dove-gray, $font-weight-regular, em(24, 14));
    strong {
      font-weight: $font-weight-bold;
    }
    @include mq(tablet-wide) {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.17px;
      margin-bottom: 22px;
    }

    @include mq(mobile-wide) {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.2px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include e(mobile) {
    display: none;

    @include mq(mobile-wide) {
      display: block;
    }
  }

  @include e(mobile-item) {
    width: 100%;
    position: relative;

    @include e(top) {
      position: relative;
      height: 350px;
      cursor: pointer;

      &.open {
        &::after {
          @include transform(rotate(0deg));
          @include transition;
        }
      }

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 37px;
        background-color: $white;
        bottom: 33px;
        left: 11px;
        z-index: 10;

        @include transition;
      }

      &::after {
        @include transform(rotate(90deg));
      }
    }

    @include e(bottom) {
      display: none;
      background-color: $black;
      padding: 25px 10px;
    }

    @include e(content) {
      border: 8px solid $west-side;
      padding: 47px 27px;
    }

    @include e(title) {
      letter-spacing: -0.26px;
      margin-bottom: 13px;

      @include font(18px, $font-family-secondary, $color-primary, $font-weight-bold, 24px);
    }

    @include e(subtitle) {
      letter-spacing: -0.2px;
      margin-bottom: 20px;
      display: block;

      @include font(14px, $font-family-primary, $nobel, $font-weight-regular, 24px);
    }

    @include e(copy) {
      
      & > p {
        letter-spacing: -0.2px;
        @include font(14px, $font-family-primary, $color-primary, $font-weight-regular, 24px);
      }
    }

    @include e(image) {
      @include position-absolute-full;
      height: 350px;
      width: 100%;
    }
  }
}