
// =============================
//   Galeria style - Colio Gallery
// =============================

.c-galeria {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1440px;

    @include e(related) {

        @include m(title) {
            font-family: "PlayBall", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            font-size: 22px;
            line-height: 24px;
        }
    }
}

.colio-wrap .colio-filters a.colio-active-filter {
    color: $white;
    background-color: $black;
    text-shadow: none;
    border-radius: 0;
}

.colio-wrap .colio-filters a {
    border-radius: 0;
    border: 1px solid $black;
    background: $white;
    color: $black;
}

.colio-disable-filters {
    border: none !important;
    font-size: 31px !important;
    color: $black !important;
}

#colio_galeria .colio-button {
    background-color: #558ed5;
    border-radius: 0;
    text-transform: uppercase;
}

#colio_galeria .colio-summary h4 {
    @include font(16px, $font-family-primary, $black, $font-weight-regular, 20px);
    margin: 0;
    text-transform: initial;
}

#colio_galeria .colio-view .colio-button,
.colio-view .colio-button:visited {
    font-size: 12px;
    font-weight: normal;
    text-transform: initial !important;
    color: $black !important;
}

.fancybox-skin {
    background: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.fancybox-close {
    top: 22px !important;
    right: 28px !important;
}

.fancybox-nav span {
    width: 40px !important;
    height: 40px !important;
}

.colio .colio-feed {
    margin: 0 !important;
}

.c-galeria_related--title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
    line-height: 26px;
    font-family: "PlayBall", sans-serif;
}