// =============================
//   Trailer style
// =============================

.c-trailer {
  position: relative;
  background-color: $black;
  min-height: 800px;
  padding: 0 40px;

  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  @include mq(mobile-wide) {
    min-height: 284px;
    padding: 30px 16px 40px;
  }

  @include e(thumbnail) {
    position: relative;
    max-width: 715px;
    width: 100%;
    height: 364px;
    margin: 0 auto;
    display: block;

    @include mq(mobile-wide) {
      width: 100%;
      height: 211px;
    }

    img {
      @include object-fit;
      @include transform(scale(1));
      @include transition;
    }

    &:hover {
      img {
        @include transform(scale(0.95));
        @include transition;
      }
    }

    @include e(text) {
      letter-spacing: -0.81px;
      position: absolute;
      left: 0;
      bottom: -25px;

      @include font(16px, $font-family-secondary, $white, $font-weight-regular, 24px);

      @include mq(mobile-wide) {
        font-size: 14px;
        letter-spacing: -0.16px;
      }
    }
  }
}