// styles/components/_components.hamburger.scss

.c-hamburger {
    width: 24px;
    height: 14px;
    cursor: pointer;
    position: relative;
    z-index: 9;

    @include flexbox;
    @include flex-direction(column);

    span {
      background-color: $white;
      width: 100%;
      height: 2px;
      margin-bottom: 4px;

      @include transition(0.2s, ease-in-out, transform);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.open {
      span {
        background-color: $white;

        &:nth-child(1) {
          @include transform(rotate(45deg) translate(4px, 4px));
          @include transition(0.2s, ease-in-out, transform);
        }

        &:nth-child(2) {
          width: 100%;
          @include transform(rotate(-45deg));
          @include transition(0.2s, ease-in-out, transform);
        }
      }
    }
  }