// =============================
//   Cookies style
// =============================

.c-cookies {
  background-color: $color-primary-alt;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 34px 120px 12px;
  z-index: 99;

  @include transform(translateY(100%));
  @include transition;

  @include mq(tablet-wide) {
    padding: 34px 20px 12px;
  }

  @include e(text) {
    @include font(em(13), $font-family-primary, $silver-chalice, $font-weight-regular, em(23, 13));

    a {
      font-weight: $font-weight-bold;
    }

    @include mq(tablet-wide) {
      font-size: 11px;
    }
  }

  @include e(btn) {
    @include mq(mobile-wide) {
      font-size: 12px;
      height: 45px;
      line-height: 45px;
    }
  }

  @include m(show) {
    @include transform(translateY(0));
    @include transition;
  }
}