// =============================
//   Cartel style
// =============================

.c-cartel {
  position: relative;
  background-color: #1A1A1A;
  padding: 0 40px;
  min-height: 1424px;

  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  @include mq(mobile-wide) {
    min-height: 577px;
    padding: 30px 16px 40px;
  }

  @include e(thumbnail) {
    position: relative;
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
    display: block;

    @include mq(mobile-wide) {
      max-width: 289px;
    }

    img {
      @include object-fit;
      @include transform(scale(1));
      @include transition;
    }

    &:hover {
      img {
        @include transform(scale(1.05));
        @include transition;
      }
    }
  }
}