// =============================
//   Patronato style
// =============================

.c-patronato {
  padding: 50px 15px;

  @include e(title){
    text-align: center;
    margin-bottom: 35px;
    color: #558ed5;
    font-size: 1.75em;
    font-family: $font-family-primary;
  }

  @include e(group){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
  }

  @include e(category){
    color: #558ed5;
    font-weight: $font-weight-regular;
    font-family: $font-family-primary;
  }

  @include e(text) {
    margin-bottom: 0;
    color: #323232;
    font-weight: $font-weight-regular;
    text-align: center;
  }

  @include e(wrapper) { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
  }

  @include e(image) {
    flex: 1 1 100px;
    max-width: 200px;
    margin: 15px 25px;

    @include m(small) {
      max-width: 150px;

      @include mq(tablet) {
        max-width: 200px;
      }
    }
  }
}