$social-max-width: 600px;
$title-bottom-margin: 15px;
$items-margin: 10px;

// =============================
//   Social Styles
// =============================

.o-social {
    width: 100%;
    max-width: $social-max-width;
    margin: auto;

    @include e(title) {
        text-align: center;
        color: $color-primary;
        margin-bottom: $title-bottom-margin;
        margin-top: 0;
    }

    @include e(list) {
        padding: 0;
        margin: 0;
        @include flexbox;
        @include justify-content(space-around);
        @include mq(mobile) {
            @include justify-content(center);
        }
    }

    @include e(item) {
        display: inline-block;
        margin: 0 $items-margin;
        @include opacity(1);
        @include transition(0.3s, ease-in-out);
        &:hover,
        &:active,
        &:focus {
            @include opacity(0.75);
            @include transition(0.3s, ease-in-out);
        }
    }

    @include e(hashtag) {
        margin: 15px 0;
        text-align: center;
    }
}