// =============================
//   Form styles
// =============================

/* Desktop */
$form-wrapper: 485px;
$input-height: 40px;

/* Tablet */
$tablet-form-wrapper: 360px;

/* Mobile */
$mobile-input-height: 50px;

.o-form {
    max-width: 485px;

    /* Media queries */
    @include mq(tablet-wide) {
        max-width: $tablet-form-wrapper;
    }

    @include mq(mobile-wide) {
        max-width: 100%;
    }

    /* Elements */

    @include e(subtitle) {
        margin-bottom: 50px;
        margin-top: 33px;

        @include font(20px, $font-family-secondary, $color-font-primary, $font-weight-medium, 26px);

        @include mq(tablet-wide) {
            font-size: 16px;
            line-height: 26px;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    @include e(desc) {
        margin-bottom: 50px !important;

        @include font(15px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);

        @include mq(tablet-wide) {
            margin-bottom: 30px !important;
        }

        @include m(thankyou) {
            margin-bottom: 30px !important;

            p {
                @include font(15px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);
            }
        }
    }

    @include e(suerte) {
        margin-bottom: 60px;

        @include font(20px, $font-family-primary, $color-font-primary, $font-weight-bold, 36px);
    }

    @include e(help) {
        text-decoration: underline;

        @include font(15px, $font-family-secondary, $color-primary, $font-weight-regular, 22px);

        @include mq(tablet-wide) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    @include e(help-container) {
        display: none;
        margin-top: 25px;

        p {
            @include font(15px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);
        }

        h4 {
            @include font(20px, $font-family-secondary, $color-font-primary, $font-weight-medium, 26px);

            @include mq(tablet-wide) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    @include e(submit) {
        margin: 30px 0 auto;
        max-width: 100%;
        position: relative;

        @include border-radius(0);
    }

    @include e(content) {
        padding: 1rem 10px;
        background-color: $white;
    }

    @include e(wrapper) {
        width: $form-wrapper;

        @include mq(tablet-wide) {
            width: $tablet-form-wrapper;
        }

        @include mq(mobile-wide) {
            width: 100%;
        }
    }

    @include e(radio-group) {
        margin-bottom: 50px;

        @include mq(tablet-wide) {
            margin-bottom: 30px;
        }

        .wpcf7-form-control {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(space-between);

            > .wpcf7-list-item {
                margin: 0 0 5px;
                border: 1px solid $color-border;
                padding: 0 15px 0 60px;
                height: 55px;
                line-height: 50px;
                cursor: pointer;

                @include flex-basis(49.5%);
                @include border-radius(10px);
                @include transition;
                @include user-no-select;

                &:hover,
                &:active,
                &:focus {
                    border-color: darken($color-border, 20%);

                    @include transition;
                }

                @include mq(tablet-wide) {
                    @include flex-basis(100%);
                }

                input[type=radio] {
                    display: none;

                    &:checked {
                        + .wpcf7-list-item-label {
                            &::after {
                                border-color: $color-selection;
                            }

                            &::before {
                                @include transform(scale(1));
                                @include opacity(1);
                                @include transition;
                            }
                        }
                    }
                }

                .wpcf7-list-item-label {
                    position: relative;

                    @include font(14px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);

                    &::before,
                    &::after {
                        content: '';
                        border: 1px solid $color-border;
                        display: block;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top: 0;
                        left: -40px;

                        @include border-radius($border-round);
                    }

                    &::before {
                        width: 10px;
                        height: 10px;
                        top: 5px;
                        left: -35px;
                        background-color: $color-selection;

                        @include transform(scale(0.5));
                        @include opacity(0);
                        @include transition;
                    }
                }
            }
        }
    }

    @include e(label) {
        position: absolute;
        margin: 0;
        pointer-events: none;
        top: 0;
        left: 15px;

        @include font(15px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);
        @include transition;

        &.active {
            font-size: 12px;
            font-weight: $font-weight-medium;
            color: rgba($color-font-primary, 0.25);
            top: -15px;

            @include transition;

            span {
                font-size: 12px;
                font-weight: $font-weight-medium;
                color: rgba($color-font-primary, 0.25);

                @include transition;
            }
        }

        span {
            @include font(12px, $font-family-secondary, rgba($color-font-primary, 0.5), $font-weight-regular, 22px);
            @include transition;
        }

        @include mq(mobile-wide) {
            left: 0;
        }
    }

    /* Modifiers */

    /* Extra */

    .parsley-errors-list,
    .parsley-required {
        color: $color-error;
        font-size: 10px;
        margin-top: 5px;
    }

    .input-field {
        //height: 43px;
        position: relative;
        margin-bottom: 40px;

        &.tiny {
            height: auto;

            small {
                @include font(10px, $font-family-secondary, $color-font-primary, 400, 12px);
            }
        }

        @include mq(tablet-wide) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .o-form_listado-ul {
        ol,
        ul {
            font-size: inherit;
            margin-left: 30px;
            line-height: 150%;

            @include mq(mobile) {
                margin-bottom: 1.5rem;
            }

            ul,
            ol {
                padding: 0 !important;
                margin-bottom: 0 !important;
            }
        }

        li {
            padding: 8px 0;

            @include font(12px, $font-family-secondary, $color-font-primary, 400, 16px);
        }

        ol {
            counter-reset: item;

            li {
                display: block;

                &::before {
                    content: counters(item, ".") " ";
                    counter-increment: item;
                    color: $color-primary;
                    font-weight: $font-weight-bold;
                    margin-right: 1rem;
                }
            }
        }

        ul {
            list-style-type: none;

            li {
                &::before {
                    content: '';
                    margin-right: 0.8em;
                    top: -3px;
                    position: relative;
                    background: $color-primary;
                    height: 5px;
                    width: 5px;
                    display: inline-block;
                }
            }
        }
    }

    .row-m {
        @include flexbox;
        @include flex-wrap(wrap);

        &.vertical {
            padding: 0 15px;

            @include flex-direction(column);

            @include mq(tablet-wide) {
                padding: 0;
            }
        }

        &.help {
            margin-bottom: 40px;
        }

        .s6 {
            @include flex-basis(50%);

            @include mq(tablet-wide) {
                @include flex-basis(100%);
            }
        }
    }

    input:not([type]),
    input[type=date]:not(.browser-default),
    input[type=datetime-local]:not(.browser-default),
    input[type=datetime]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=number]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=search]:not(.browser-default),
    input[type=tel]:not(.browser-default),
    input[type=text]:not(.browser-default),
    input[type=time]:not(.browser-default),
    input[type=url]:not(.browser-default) {
        border: 0;
        border-bottom: 1px solid $color-form-input-border;
        padding: 0 5px;
        margin: 0 !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        height: $input-height;
        width: 100%;
        background: transparent;
        -webkit-appearance: none;
        border-radius: 0;

        @include font(15px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);

        &::-ms-clear {
            display: none;
        }

        @include placeholder($color-font-primary, 0.5);
    }

    textarea {
        border: 0;
        border-bottom: 1px solid $color-form-input-border;
        padding: 5px 5px 0;
        margin: 0 !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        height: $input-height;
        min-height: $input-height;
        width: 100%;
        background: transparent;
        resize: none;
        overflow: hidden;
        -webkit-appearance: none;
        border-radius: 0;

        &.size-l {
            $padding: 35px;
            padding-top: $padding;
            height: $input-height + $padding;
            min-height: $input-height + $padding;
        }

        @include font(15px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);
        @include transition;

        &::-ms-clear {
            display: none;
        }

        @include placeholder($color-font-primary, 0.5);
    }

    input:not([type]):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]),
    textarea:focus:not([readonly]) {
        border-bottom: 1px solid $color-font-primary !important;
    }

    .select-wrapper.parsley-error > input.select-dropdown,
    input.parsley-error:not([type]),
    input.parsley-error:not([type]):focus,
    input[type=date].parsley-error:not(.browser-default),
    input[type=date].parsley-error:not(.browser-default):focus,
    input[type=datetime-local].parsley-error:not(.browser-default),
    input[type=datetime-local].parsley-error:not(.browser-default):focus,
    input[type=datetime].parsley-error:not(.browser-default),
    input[type=datetime].parsley-error:not(.browser-default):focus,
    input[type=email].parsley-error:not(.browser-default),
    input[type=email].parsley-error:not(.browser-default):focus,
    input[type=number].parsley-error:not(.browser-default),
    input[type=number].parsley-error:not(.browser-default):focus,
    input[type=password].parsley-error:not(.browser-default),
    input[type=password].parsley-error:not(.browser-default):focus,
    input[type=search].parsley-error:not(.browser-default),
    input[type=search].parsley-error:not(.browser-default):focus,
    input[type=tel].parsley-error:not(.browser-default),
    input[type=tel].parsley-error:not(.browser-default):focus,
    input[type=text].parsley-error:not(.browser-default),
    input[type=text].parsley-error:not(.browser-default):focus,
    input[type=time].parsley-error:not(.browser-default),
    input[type=time].parsley-error:not(.browser-default):focus,
    input[type=url].parsley-error:not(.browser-default),
    input[type=url].parsley-error:not(.browser-default):focus,
    textarea.materialize-textarea.parsley-error,
    textarea.parsley-error,
    textarea.parsley-error:focus,
    textarea.materialize-textarea.parsley-error:focus {
        border-bottom: 1px solid $color-error !important;
    }

    .select-wrapper.valid > input.select-dropdown,
    input.valid:not([type]),
    input.valid:not([type]):focus,
    input[type=date].valid:not(.browser-default),
    input[type=date].valid:not(.browser-default):focus,
    input[type=datetime-local].valid:not(.browser-default),
    input[type=datetime-local].valid:not(.browser-default):focus,
    input[type=datetime].valid:not(.browser-default),
    input[type=datetime].valid:not(.browser-default):focus,
    input[type=email].valid:not(.browser-default),
    input[type=email].valid:not(.browser-default):focus,
    input[type=number].valid:not(.browser-default),
    input[type=number].valid:not(.browser-default):focus,
    input[type=password].valid:not(.browser-default),
    input[type=password].valid:not(.browser-default):focus,
    input[type=search].valid:not(.browser-default),
    input[type=search].valid:not(.browser-default):focus,
    input[type=tel].valid:not(.browser-default),
    input[type=tel].valid:not(.browser-default):focus,
    input[type=text].valid:not(.browser-default),
    input[type=text].valid:not(.browser-default):focus,
    input[type=time].valid:not(.browser-default),
    input[type=time].valid:not(.browser-default):focus,
    input[type=url].valid:not(.browser-default),
    input[type=url].valid:not(.browser-default):focus,
    textarea.materialize-textarea.valid,
    textarea.materialize-textarea.valid:focus {
        //border: 1px solid $color-success !important;

        //@include box-shadow(0, 2px, 5px, 0, rgba($color-success, 0.30));
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    [type=checkbox].filled-in:not(:checked) + label::after {
        border-width: 1px;
    }
    [type=checkbox].filled-in-white:not(:checked) + label::after {
        border: 1px solid $white;
        border-width: 1px;
    }

    [type=checkbox].filled-in:checked + label::after {
        border: 1px solid $color-primary;
        background-color: $color-primary;
    }
    [type=checkbox].filled-in-white:checked + label::after {
        border: 1px solid $white;
        background-color: $color-primary;
    }

    input[type=submit] {
        min-width: 143px;
        letter-spacing: 1px;

        @include mq(tablet-mobile) {
            font-size: 10px;
        }

        @include mq(mobile-wide) {
            min-width: initial;
            width: 100%;
        }
    }

    /* Bootstrap Select */

    .bootstrap-select {
        width: 100%;

        .dropdown-toggle {
            background: $white;
            border: 0;
            border-radius: 0;
            height: $input-height;
            padding: 0;
            padding-left: 20px;
            position: relative;
            border-bottom: 1px solid $color-form-input-border;

            @include font(15px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);

            &:focus,
            &:active {
                outline: 0 !important;
                box-shadow: none !important;
                background-color: $white !important;
                border-color: inherit !important;
            }

            &::after {
                top: 10px;
                position: absolute;
                right: 0;
            }
        }

        .dropdown-menu {
            border: 0;
            border-bottom: 1px solid $color-selection;
            border-radius: 0;
            box-shadow: none !important;
            max-height: 300px !important;

            &.inner {
                border: 0;
                margin-bottom: 0 !important;
            }

            li {
                &:first-child.disabled {
                    display: none;
                }

                a {
                    padding-left: 20px;

                    @include font(14px, $font-family-secondary, $color-font-primary, $font-weight-light, 26px);

                    &:hover,
                    &:focus,
                    &:active,
                    &.selected,
                    &.active {
                        color: $color-selection;
                        background-color: $white;
                        font-weight: $font-weight-medium;
                    }
                }
            }
        }

        .bs-searchbox {
            padding: 4px 0;

            @include border-radius(0);

            input[type="text"] {
                padding: 0 20px;
                border-bottom: 1px solid rgba($color-font-primary, 0.3);

                @include border-radius(0);
            }
        }

        .parsley-errors-list {
            display: none;
        }

        > select {
            &.parsley-error {
                + ul + .dropdown-toggle {
                    border-bottom: 1px solid $color-error;
                    color: $color-error;
                    font-weight: $font-weight-medium;
                }
            }
        }
    }
}

.wpcf7-form {
    $md-checkbox-margin: 30px 0;
    $md-checkbox-checked-color: #FF8E00;
    $md-checkbox-border-color: #FF8E00;

    $md-checkbox-size: 18px;
    $md-checkbox-padding: 4px;

    $md-checkmark-width: 2px;
    $md-checkmark-color: #fff;

    .md-checkbox {
        position: relative;
        margin: $md-checkbox-margin;
        color: $white;
        cursor: pointer;

        &.no-margin-bottom {
            margin-bottom: 0;
        }

        + .parsley-errors-list {
            display: none !important;
        }

        @include mq(tablet-wide) {
            margin: 10px;
        }

        input + label {
            position: relative;
            display: inline !important;
            cursor: pointer;
            pointer-events: auto;
            left: 15px;
            top: -2px;

            @include user-no-select;

            @include font(12px, $font-family-secondary, $color-font-primary, $font-weight-regular, 22px);

            a {
                color: $color-primary;
                text-decoration: underline;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: -33px;
                top: -3px;
            }

            &::before {
                // box
                width: $md-checkbox-size;
                height: $md-checkbox-size;
                background: #fff;
                border: 1px solid $md-checkbox-border-color;
                border-radius: 2px;
                cursor: pointer;
                transition: background 0.3s;
            }
        }

        input[type="checkbox"] {
            outline: 0;
            margin-right: 0;
            cursor: pointer;

            @include opacity(0);

            &:checked {
                + label::before {
                    background: $md-checkbox-checked-color;
                    border: none;
                }
                + label::after {
                    $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

                    transform: rotate(-45deg);

                    top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
                    top: 3px;
                    left: -28px;
                    width: $md-checkmark-size;
                    height: $md-checkmark-size / 2;

                    border: $md-checkmark-width solid $md-checkmark-color;
                    border-top-style: none;
                    border-right-style: none;
                }
            }
        }

        > div {
            display: -webkit-box !important;
            display: -webkit-flex !important;
            display: -moz-flex !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }

    .col {
        @include mq(mobile-wide) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.wpcf7-validation-errors,
.ajax-loader,
.wpcf7-response-output {
    display: none !important;
}

.o-file-input__btn {
    $btn-height: 50px;
    border: 1px solid rgba($color-secondary, 0.3) !important;
    padding: 0 60px 0 30px;
    margin: 0 !important;

    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;

    height: $btn-height;
    background-color: transparent;
    display: inline-block;
    line-height: $btn-height;
    position: relative;
    cursor: pointer;
    min-width: 233px;

    @include transition;

    &:hover,
    &:active,
    &:focus {
        background-color: darken($white, 2%);
        border: 1px solid rgba($color-secondary, 0.6) !important;

        @include transition;

        &::after {
            top: 15px;

            @include transition;
        }
    }

    &::after {
        @extend %icomoon;

        position: absolute;
        top: 18px;
        right: 30px;
        font-size: 13px;
        content: unicode($icon-icon-upload);
        color: $color-primary;

        @include transition;
    }

    &.active {
        border: 1px solid rgba($color-secondary, 0.6) !important;
    }

    &.error {
        border: 1px solid rgba($color-error, 0.6) !important;
    }

    div {
        @include font(15px, $font-family-secondary, $color-font-primary, $font-weight-medium, $btn-height);

        @include text-truncate;
    }

    @include mq(tablet-wide) {
        padding: 0 75px 0 50px;
        width: 100%;

        &::after {
            right: 50px;
        }
    }

    @include mq(mobile-wide) {
        padding: 0 75px 0 30px;

        &::after {
            right: 25px;
        }
    }
}

.input-upload-file {
    @include position-absolute-full;
    @include opacity(0);

    font-size: 0;

    &:focus {
        outline: none;
    }

    + .parsley-errors-list {
        display: none;
    }
}

.row-buttons {
    @include flexbox;

    > *:first-child {
        margin-right: 20px;
        min-width: 180px;
    }

    @include mq(tablet-wide) {
        @include flex-direction(column);

        > * {
            width: 100%;
        }
    }
}

