/* ====================
    Section styles
====================== */

.o-section {
    position: relative;

    /* Media queries */
    @include mq(tablet, max) {
        padding: 1rem 20px;
    }

    /* Elements */
    @include e(img-container) {
        margin-bottom: 30px;

        @include m(size-half) {
            max-width: 50%;
        }
    }

    /* Modifiers */
    @include m(line-top) {
        padding-top: 115px;

        &::before {
            background-color: $color-border;
            content: '';
            position: absolute;
            display: block;
            height: 115px;
            width: 1px;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
        }

        @media only screen and (max-width: 1250px) and (min-width: 1024px) {
            padding: 50px 35px;
        }

        @include mq(tablet-wide) {
            padding: 50px 35px;
        }

        @media only screen and (max-width: 720px) and (min-width: 480px) {
            padding: 50px 20px;
        }

        @include mq(mobile-wide) {
            &::before {
                height: 50px;
                left: 35px;
                right: auto;
            }
        }
    }
}