/* ==========================================================================
    List styles
   ========================================================================== */

.o-list {
    width: 100%;

    /* Media queries */

    /* Elements */
    li {
        margin-bottom: 10px;

        @include font();
    }

    /* Modifiers */
    @include m(with-bullets) {
        li {
            &::before {
                content: '';
                margin-right: 0.8em;
                top: -4px;
                position: relative;
                background: $color-primary;
                height: 5px;
                width: 5px;
                display: inline-block;
            }
        }
    }
}