// =============================
//   Button styles
// =============================

/* Desktop */
$button-height: 43px;
$button-padding: 34px;

/* Tablet */
$tablet-button-height: 60px;
$tablet-button-padding: 60px;

/* Mobile */
$mobile-button-height: 60px;

%button {
  border: 1px solid $white;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-family: $font-family-secondary;
  font-weight: $font-weight-medium;
  height: $button-height;
  line-height: $button-height;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  padding: 0 $button-padding;
  letter-spacing: 1px;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  @include transition(0.3s, ease-in-out, all, !important);
  @include border-radius(0);

  /* Media queries */

  @include mq(tablet, max) {
    display: inline-block;
    height: $tablet-button-height;
    line-height: $tablet-button-height;
    padding: 0 $tablet-button-padding;
  }

  @include mq(mobile, max) {
    font-size: 1em;
    height: $mobile-button-height;
    line-height: $mobile-button-height;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
  }

  @include transform(perspective(1px) scale(1));
  @include transition(0.3s, cubic-bezier(0, 2, 1, 1));

  &:hover {
    //@include transform(perspective(1px) scale(1.05));
    //@include transition(0.3s, cubic-bezier(0, 2, 1, 1));
  }

  &:active {
    @include transform(perspective(1px) scale(0.95));
    @include transition(0.3s, cubic-bezier(0, 2, 1, 1));
  }

  &[disabled] {
    background-color: transparent !important;
    color: palette(color-gray) !important;
    border: 2px solid palette(color-gray) !important;
    cursor: default;

    &:hover {
      background-color: transparent !important;
      color: palette(color-gray) !important;
      background-image: none !important;
    }
  }
}

.o-button {

  @extend %button;

  /* Modifiers */

  @include m(full) {
    max-width: 100%;
    width: 100%;
  }

  @include m(inline) {
    display: inline-block;
  }

  @include m(small) {
    font-size: 0.9em;
    height: $button-height - 20;
    line-height: $button-height - 20;
    padding: 0 ($button-padding - 20);
  }

  @include m(effect) {
    z-index: 2;

    @include transform(scale(1, 1));
    @include transition(0.3s, cubic-bezier(0, 2, 1, 1));

    &:hover {
      @include transform(scale(1.1, 1.1));
    }

    &:active {
      @include transform(scale(1, 1));
    }
  }

  @include m(rounded) {
    @include border-radius($border-default, !important);
  }

  @include m(rounded-tiny) {
    @include border-radius($border-tiny, !important);
  }

  @include m(shadow) {
    @include box-shadow(0, 2px, 3px, 0, rgba(0, 0, 0, 0.2));
  }

  @include m(primary) {
    background-color: palette(color-primary);

    &:hover,
    &:focus,
    &:active {
      background-color: $color-primary-alt;
    }
  }

  @include m(secondary) {
    background-color: palette(color-secondary);

    &:hover,
    &:focus,
    &:active {
      background-color: palette(color-secondary, light);
    }
  }

  @include m(info) {
    background-color: palette(color-info);

    &:hover,
    &:focus,
    &:active {
      background-color: palette(color-info, light);
    }
  }

  @include m(success) {
    background-color: palette(color-success);

    &:hover,
    &:focus,
    &:active {
      background-color: palette(color-success, light);
    }
  }

  @include m(error) {
    background-color: palette(color-error);

    &:hover,
    &:focus,
    &:active {
      background-color: palette(color-error, light);
    }
  }

  @include m(alt) {
    background: rgba(palette(color-primary), 0.2);
    border: 2px solid palette(color-primary, x-light);
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background: palette(color-primary);
    }
  }

  @include m(color-white) {
    background: transparent;
    border: 2px solid $white;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background: rgba($white, 0.2);
    }
  }

  @include m(bg-white) {
    background: $white;
    color: $color-font-primary;
    border: 1px solid rgba($color-font-primary, 0.3);

    &:hover,
    &:focus,
    &:active {
      color: $color-font-primary !important;
      border: 1px solid rgba($color-font-primary, 1);
    }
  }

  @include m(bg-transparent) {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;

    &:hover,
    &:focus,
    &:active {
      color: $color-font-primary !important;
      background-color: $white;
    }
  }

  @include m(blank) {
    background-color: transparent;
    color: $white !important;
    border: 1px solid $white;

    @include font(16px, $font-family-secondary, $white, $font-weight-regular, $button-height - 2);

    @include mq(tablet) {
      @include font(16px, $font-family-secondary, $white, $font-weight-regular, $tablet-button-height - 2);
    }

    i {
      color: palette(color-primary) !important;
      margin-left: 0;
      margin-right: 0.5em;
    }

    &:hover,
    &:focus,
    &:active {
      color: $black !important;
      background-color: $white;
    }
  }

  @include m(bg-gray) {
    background-color: rgba($black, 0.2);

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($black, 0.3);
    }
  }

  @include m(center) {
    margin-left: auto;
    margin-right: auto;
  }

  @include m(hover) {
    span {
      z-index: 2;
      position: relative;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      background: #fff;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;

      @include transform(scale(0));
      @include transition;
    }

    &:hover,
    &:focus,
    &:active {
      span {
        color: $black;
      }

      &::after {
        @include transform(scale(1));
        @include transition;
      }
    }
  }
}