/* ==========================================================================
    Block styles
========================================================================== */

.o-block {
    display: block;
    text-align: center;
}

