/* ==========================================================================
   #CARD
   ========================================================================== */
%border {
  background: $color-secondary;
  position: absolute;
}

.o-card {
  //border: 10px solid $color-secondary;
  background-color: rgba(0, 0, 0, 0);
  padding: 75px 43px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 33;
  position: relative;
  padding-top: 50px !important;
  @include mq(tablet-wide) {
    background-color: rgba(0, 0, 0, 0.25);

    @include transform(translateY(50px));
    @include opacity(0);
    @include transition;

    &.mostrar {
      pointer-events: auto;
      @include transform(translateY(0));
      @include opacity(1);
      @include transition;
    }
  }

  @include e(button) {
    @include mq(mobile-wide) {
      margin-top: 25px;
    }

    .o-button {
      font-size: 15px;
      background: transparent;
      font-family: $font-family-primary;

      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      transition: none !important;

      &:hover {
        background-color: $white;
        color: $color-font-primary;

        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
      }

      @include mq(tablet-wide) {
        padding: 0 20px;
      }
    }
  }

  @include e(title) {
    letter-spacing: -0.26px;
    margin-bottom: 17px;

    @include font(em(18), $font-family-primary, $color-primary, $font-weight-bold, em(24, 18));

    @include mq(tablet-wide) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  @include e(subtitle) {
    letter-spacing: -0.2px;
    margin-bottom: 53px;

    @include font(em(14), $font-family-primary, $nobel, $font-weight-regular, em(24, 14));

    @include mq(tablet-wide) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

@include e(body) {
  
  & > p {
    max-width: 314px;
    letter-spacing: -0.2px;
    margin-bottom: 40px;
    
    @include font(em(14), $font-family-primary, $color-primary, $font-weight-regular, em(24, 14));
    strong {
      font-weight: $font-weight-bold;
    }
    @include mq(tablet-wide) {
      font-size: 12px;
      line-height: 21px;
    }
  }
}

  @include e(top) {
    @extend %border;

    height: 10px;
    width: 0%;
    left: 0;
    top: 0;

    @include mq(tablet-wide) {
      width: 100%;
    }
  }

  @include e(right) {
    @extend %border;

    height: 0%;
    width: 10px;
    top: 0;
    right: 0;

    @include mq(tablet-wide) {
      height: 100%;
    }
  }

  @include e(bottom) {
    @extend %border;
    height: 10px;
    width: 0%;
    right: 0;
    bottom: 0;

    @include mq(tablet-wide) {
      width: 100%;
    }
  }

  @include e(left) {
    @extend %border;

    height: 0%;
    width: 10px;
    bottom: 0;
    left: 0;

    @include mq(tablet-wide) {
      height: 100%;
    }
  }

  @include e(container) {
    @include opacity(0);

    @include mq(tablet-wide) {
      @include opacity(1);
    }
  }

  //MODIFIERS BY CARD TYPE
  @include m(q8) {
    top: 50px;
    width: 100%;
    max-width: 600px;
    left: -40%;
    height: auto;
    position: absolute;
    padding: 70px 43px;
    //display: none !important;
    pointer-events: none;

    @include mq(tablet-wide) {
      height: auto;
      top: 0;
      left: -60%;
    }

    @media only screen and (max-width: 767px) and (min-width: 480px) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  @include m(alberto) {
    top: 50px;
    width: 100%;
    max-width: 600px;
    left: 50px;
    height: auto;
    position: absolute;
    padding: 20px 43px;
    //display: none !important;
    pointer-events: none;

    @include mq(tablet-wide) {
      height: auto;
      width: 120%;
      top: 200px;
      left: 200px;
    }

    @media only screen and (max-width: 767px) and (min-width: 480px) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  @include m(javier) {
    top: 200px;
    width: 100%;
    max-width: 600px;
    left: 55%;
    height: auto;
    position: absolute;
    padding: 20px 43px;
    //display: none !important;
    pointer-events: none;

    @include mq(tablet-wide) {
      height: auto;
      top: 100px;
    }

    @media only screen and (max-width: 767px) and (min-width: 480px) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  @include m(najwa) {
    top: 135px;
    width: 100%;
    max-width: 600px;
    left: 110px;
    height: auto;
    position: absolute;
    padding: 20px 43px;
    //display: none !important;
    pointer-events: none;

    @include mq(tablet-wide) {
      height: auto;
      right: 0;
      width: 90%;
      top: 54%;
      left: auto;
    }

    @media only screen and (max-width: 767px) and (min-width: 480px) {
      height: auto;
      top: 30%;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  @include m(Kike) {
    top: -50px;
    width: 100%;
    max-width: 600px;
    right: 45%;
    left: auto;
    height: auto;
    position: absolute;
    padding: 20px 43px;
    //display: none !important;
    pointer-events: none;

    @include mq(tablet-wide) {
      right: auto;
    }

    @media only screen and (max-width: 767px) and (min-width: 480px) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

