/* ==========================================================================
    Table styles
========================================================================== */

.o-table {
    width: 100%;

    th {
        padding: 15px 8px;
        border-bottom: 1px solid #E5E5E5;
    }
    td {
        padding: 8px;
        border-bottom: 1px solid #E5E5E5;
    }

    /* Modifiers */
    @include m(fixed) {
        table-layout: fixed;
    }
}