/* ==========================================================================
    Body styles
   ========================================================================== */

@include selection($black);

body {
    background-color: $color-background;
    color: $color-font-primary;
    font-family: $font-family-primary;
    font-size: $base-font-size;
    font-weight: $font-weight-regular;
    line-height: 1;
    margin: 0 !important;
    overflow: hidden;

    @include text-rendering-antialiased;

    @include mq(mobile) {
        font-size: $mobile-base-font-size;
        overflow: auto;
    }
}

*:focus {
    outline: 0;
}

strong {
    font-weight: $font-weight-medium;
}