/* ==========================================================================
   Reset frontend frameworks styles
   ========================================================================== */

.container {
    width: 323px;
    padding-right: 10px;
    padding-left: 10px;

    @include m(mobile-wide) {
        width: 355px;
    }
    @include mq(tablet) {
        width: 645px;
    }
    @include mq(tablet-landscape) {
        width: 860px;
    }
    @include mq(desktop) {
        width: 1058px;
    }
    @include mq(big-desktop) {
        width: 1198px;
    }
    @include mq(super-desktop) {
        width: 2172px;
    }
}

/* Reset Grid Bootstrap */
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.wow {
    visibility: hidden;
}

.owl-carousel {
    overflow: hidden;
}

.owl-carousel .owl-stage-outer {
    float: left;
}

*:focus {
    outline: none !important;
}

pre {
    padding: 0 2rem;
    margin: 20px 0;

    code {
        background: transparent !important;
    }
}

.lity-iframe-container iframe,
.lity-content::after {
    box-shadow: none !important;
}