/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */

p {
    margin: 0 0 20px 0;

    // @include font($base-font-size, $font-family-primary, $color-font-primary, $font-weight-regular, 150%);
    color: $color-font-primary;
    font-size: $base-font-size;
    // font-family: $font-family;
    // font-weight: $font-weigth;
    // line-height: $line-height;

    &:last-child {
       // margin-bottom: 0;
    }
}
