/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
    color: palette(color-primary);
    text-decoration: none;

    @include transition(0.3s, ease-in-out);

    &:hover,
    &:focus,
    &:active {
        color: palette(color-primary, light);
        text-decoration: none !important;

        @include transition(0.3s, ease-in-out);
    }
}