/* ==========================================================================
   #FORMS
   ========================================================================== */

form {
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}