// Font weights

$font-weight-thin: 100;
$font-weight-ultralight: 200;
$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;
$font-weight-semibold: 600;
$font-weight-black: 900;

// Fonts
@include fontFace('Alef', '../fonts/alef-regular-webfont', normal, $font-weight-regular);
@include fontFace('Alef', '../fonts/alef-bold-webfont', normal, $font-weight-bold);

@include fontFace('PlayBall', '../fonts/playball-regular-webfont', normal, $font-weight-regular);

// =============================
//   Font variables
//==============================

$font-family-primary: "Alef", sans-serif;
$font-family-secondary: "PlayBall", sans-serif;

$base-font-size: 16px;
$base-line: 24px;
$browser-context: 16;