// Descriptive Base Colors

// Grayscale
$white: #FFF;
$wild-sand: #F6F6F6;
$alabaster: #FAFAFA;
$platinum: #e8e8e8;
$silver: #E9E9E9;
$alto: #D8D8D8;
$aluminium: #A6A7AF;
$gray: #7F7F7F;
$emperor: #535353;
$mirage: #101724;
$vulcan: #0E121C;
$cod-gray: #1A1A1A;
$shark: #202121;
$black: #000;
$shark2: #1A1B1B;

// Brand colors
$alizarin: #E32118;
$thunderbird: #C71D15;
$orange: #FF8E00;
$cerulean: #00A6E9;
$bright-turquoise: #00FDCA;
$turbo: #FEEE02;
$cyan-aqua: #06FDFC;
$pink-flamingo: #FF40FF;
$yellow-orange: #FFA949;
$reptile-green: #26de81;
$high-blue: #45aaf2;
$silver-chalice: #AAA;
$mine-shaft: #323232;
$dove-gray: #696868;
$form-error: #E32118;
$west-side: #7ca0c5;
$nobel: #B3B3B3;
$tudora: #434343;

// Social brands
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #004284;
$pinterest: #cc2127;
$google-plus: #d34836;
$reddit: #cee3f8;
$instagram: #3f729b;
$youtube: #E0004D;

// Color usage

$color-primary: $white;
$color-primary-alt: $black;

$color-secondary: $west-side;
$color-secondary-alt: $shark;

$color-success: $reptile-green;
$color-error: $form-error;
$color-info: $high-blue;

$color-font-primary: $shark;
$color-font-secondary: $white;

$color-footer-bg: $shark;
$color-footer-copy: $white;

$color-form-input-border: $shark;
$color-form-text: $shark;

$colo-header-bg: $white;

$color-menu: $white;
$color-menu-bg: transparent;

$color-background: $white;

$color-border: $silver;

$color-selection: $orange;

// Color palette modifiers

$palettes: (
    color-primary: (
        xxx-light: rgba(lighten($color-primary, 32%), 0.28),
        xx-light : lighten($color-primary, 32%),
        x-light : lighten($color-primary, 16%),
        light : lighten($color-primary, 8%),
        base : $color-primary,
        dark : darken($color-primary, 8%),
        x-dark : darken($color-primary, 12%),
        xx-dark : darken($color-primary, 15%)
    ),
    color-primary-alt: (
        xxx-light: rgba(lighten($color-primary-alt, 32%), 0.28),
        xx-light : lighten($color-primary-alt, 32%),
        x-light : lighten($color-primary-alt, 16%),
        light : lighten($color-primary-alt, 8%),
        base : $color-primary-alt,
        dark : darken($color-primary-alt, 8%),
        x-dark : darken($color-primary-alt, 12%),
        xx-dark : darken($color-primary-alt, 15%)
    ),
    color-secondary: (
        xxx-light: lighten($color-secondary, 50%),
        xx-light : lighten($color-secondary, 32%),
        x-light : lighten($color-secondary, 16%),
        light : lighten($color-secondary, 8%),
        base : $color-secondary,
        dark : darken($color-secondary, 8%),
        x-dark : darken($color-secondary, 16%)
    ),
    color-secondary-alt: (
        xxx-light: lighten($color-secondary-alt, 50%),
        xx-light : lighten($color-secondary-alt, 32%),
        x-light : lighten($color-secondary-alt, 16%),
        light : lighten($color-secondary-alt, 8%),
        base : $color-secondary-alt,
        dark : darken($color-secondary-alt, 8%),
        x-dark : darken($color-secondary-alt, 16%)
    ),
    color-success: (
        x-light : lighten($color-success, 16%),
        light : lighten($color-success, 3%),
        base : $color-success,
        dark : darken($color-success, 3%),
        x-dark : darken($color-success, 16%)
    ),
    color-info: (
        x-light : lighten($color-info, 16%),
        light : lighten($color-info, 3%),
        base : $color-info,
        dark : darken($color-info, 3%),
        x-dark : darken($color-info, 16%)
    ),
    color-error: (
        x-light : lighten($color-error, 16%),
        light : lighten($color-error, 8%),
        base : $color-error,
        dark : darken($color-error, 8%),
        x-dark : darken($color-error, 16%)
    ),
    color-gray: (
        xxx-light: lighten($gray, 40%),
        xx-light : lighten($gray, 32%),
        x-light : lighten($gray, 16%),
        light : lighten($gray, 8%),
        base : $gray,
        dark : darken($gray, 8%),
        x-dark : darken($gray, 16%)
    ),
    color-white: (
        xxx-light: lighten($white, 40%),
        xx-light : lighten($white, 32%),
        x-light : lighten($white, 16%),
        light : lighten($white, 8%),
        base : $white,
        dark : darken($white, 8%),
        x-dark : darken($white, 16%)
    )
);

// Call the color palette modifiers
@function palette($palette, $shade: 'base') {
    @return map-get(map-get($palettes, $palette), $shade);
}