$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ktpdpw');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ktpdpw#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ktpdpw') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ktpdpw') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ktpdpw##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$u-icon-activity: "\e900";
$u-icon-airplay: "\e901";
$u-icon-alert-circle: "\e902";
$u-icon-alert-octagon: "\e903";
$u-icon-alert-triangle: "\e904";
$u-icon-align-center: "\e905";
$u-icon-align-justify: "\e906";
$u-icon-align-left: "\e907";
$u-icon-align-right: "\e908";
$u-icon-anchor: "\e909";
$u-icon-aperture: "\e90a";
$u-icon-archive: "\e90b";
$u-icon-arrow-down-circle: "\e90c";
$u-icon-arrow-down-left: "\e90d";
$u-icon-arrow-down-right: "\e90e";
$u-icon-arrow-down: "\e90f";
$u-icon-arrow-left-circle: "\e910";
$u-icon-arrow-left: "\e911";
$u-icon-arrow-right-circle: "\e912";
$u-icon-arrow-right: "\e913";
$u-icon-arrow-up-circle: "\e914";
$u-icon-arrow-up-left: "\e915";
$u-icon-arrow-up-right: "\e916";
$u-icon-arrow-up: "\e917";
$u-icon-at-sign: "\e918";
$u-icon-award: "\e919";
$u-icon-bar-chart-2: "\e91a";
$u-icon-bar-chart: "\e91b";
$u-icon-battery-charging: "\e91c";
$u-icon-battery: "\e91d";
$u-icon-bell-off: "\e91e";
$u-icon-bell: "\e91f";
$u-icon-bluetooth: "\e920";
$u-icon-bold: "\e921";
$u-icon-book-open: "\e922";
$u-icon-book: "\e923";
$u-icon-bookmark: "\e924";
$u-icon-box: "\e925";
$u-icon-briefcase: "\e926";
$u-icon-calendar: "\e927";
$u-icon-camera-off: "\e928";
$u-icon-camera: "\e929";
$u-icon-cast: "\e92a";
$u-icon-check-circle: "\e92b";
$u-icon-check-square: "\e92c";
$u-icon-check: "\e92d";
$u-icon-chevron-down: "\e92e";
$u-icon-chevron-left: "\e92f";
$u-icon-chevron-right: "\e930";
$u-icon-chevron-up: "\e931";
$u-icon-chevrons-down: "\e932";
$u-icon-chevrons-left: "\e933";
$u-icon-chevrons-right: "\e934";
$u-icon-chevrons-up: "\e935";
$u-icon-chrome: "\e936";
$u-icon-circle: "\e937";
$u-icon-clipboard: "\e938";
$u-icon-clock: "\e939";
$u-icon-cloud-drizzle: "\e93a";
$u-icon-cloud-lightning: "\e93b";
$u-icon-cloud-off: "\e93c";
$u-icon-cloud-rain: "\e93d";
$u-icon-cloud-snow: "\e93e";
$u-icon-cloud: "\e93f";
$u-icon-code: "\e940";
$u-icon-codepen: "\e941";
$u-icon-codesandbox: "\e942";
$u-icon-coffee: "\e943";
$u-icon-columns: "\e944";
$u-icon-command: "\e945";
$u-icon-compass: "\e946";
$u-icon-copy: "\e947";
$u-icon-corner-down-left: "\e948";
$u-icon-corner-down-right: "\e949";
$u-icon-corner-left-down: "\e94a";
$u-icon-corner-left-up: "\e94b";
$u-icon-corner-right-down: "\e94c";
$u-icon-corner-right-up: "\e94d";
$u-icon-corner-up-left: "\e94e";
$u-icon-corner-up-right: "\e94f";
$u-icon-cpu: "\e950";
$u-icon-credit-card: "\e951";
$u-icon-crop: "\e952";
$u-icon-crosshair: "\e953";
$u-icon-database: "\e954";
$u-icon-delete: "\e955";
$u-icon-disc: "\e956";
$u-icon-dollar-sign: "\e957";
$u-icon-download-cloud: "\e958";
$u-icon-download: "\e959";
$u-icon-droplet: "\e95a";
$u-icon-edit-2: "\e95b";
$u-icon-edit-3: "\e95c";
$u-icon-edit: "\e95d";
$u-icon-external-link: "\e95e";
$u-icon-eye-off: "\e95f";
$u-icon-eye: "\e960";
$u-icon-facebook: "\e961";
$u-icon-fast-forward: "\e962";
$u-icon-feather: "\e963";
$u-icon-figma: "\e964";
$u-icon-file-minus: "\e965";
$u-icon-file-plus: "\e966";
$u-icon-file-text: "\e967";
$u-icon-file: "\e968";
$u-icon-film: "\e969";
$u-icon-filter: "\e96a";
$u-icon-flag: "\e96b";
$u-icon-folder-minus: "\e96c";
$u-icon-folder-plus: "\e96d";
$u-icon-folder: "\e96e";
$u-icon-framer: "\e96f";
$u-icon-frown: "\e970";
$u-icon-gift: "\e971";
$u-icon-git-branch: "\e972";
$u-icon-git-commit: "\e973";
$u-icon-git-merge: "\e974";
$u-icon-git-pull-request: "\e975";
$u-icon-github: "\e976";
$u-icon-gitlab: "\e977";
$u-icon-globe: "\e978";
$u-icon-grid: "\e979";
$u-icon-hard-drive: "\e97a";
$u-icon-hash: "\e97b";
$u-icon-headphones: "\e97c";
$u-icon-heart: "\e97d";
$u-icon-help-circle: "\e97e";
$u-icon-hexagon: "\e97f";
$u-icon-home: "\e980";
$u-icon-image: "\e981";
$u-icon-inbox: "\e982";
$u-icon-info: "\e983";
$u-icon-instagram: "\e984";
$u-icon-italic: "\e985";
$u-icon-key: "\e986";
$u-icon-layers: "\e987";
$u-icon-layout: "\e988";
$u-icon-life-buoy: "\e989";
$u-icon-link-2: "\e98a";
$u-icon-link: "\e98b";
$u-icon-linkedin: "\e98c";
$u-icon-list: "\e98d";
$u-icon-loader: "\e98e";
$u-icon-lock: "\e98f";
$u-icon-log-in: "\e990";
$u-icon-log-out: "\e991";
$u-icon-mail: "\e992";
$u-icon-map-pin: "\e993";
$u-icon-map: "\e994";
$u-icon-maximize-2: "\e995";
$u-icon-maximize: "\e996";
$u-icon-meh: "\e997";
$u-icon-menu: "\e998";
$u-icon-message-circle: "\e999";
$u-icon-message-square: "\e99a";
$u-icon-mic-off: "\e99b";
$u-icon-mic: "\e99c";
$u-icon-minimize-2: "\e99d";
$u-icon-minimize: "\e99e";
$u-icon-minus-circle: "\e99f";
$u-icon-minus-square: "\e9a0";
$u-icon-minus: "\e9a1";
$u-icon-monitor: "\e9a2";
$u-icon-moon: "\e9a3";
$u-icon-more-horizontal: "\e9a4";
$u-icon-more-vertical: "\e9a5";
$u-icon-mouse-pointer: "\e9a6";
$u-icon-move: "\e9a7";
$u-icon-music: "\e9a8";
$u-icon-navigation-2: "\e9a9";
$u-icon-navigation: "\e9aa";
$u-icon-octagon: "\e9ab";
$u-icon-package: "\e9ac";
$u-icon-paperclip: "\e9ad";
$u-icon-pause-circle: "\e9ae";
$u-icon-pause: "\e9af";
$u-icon-pen-tool: "\e9b0";
$u-icon-percent: "\e9b1";
$u-icon-phone-call: "\e9b2";
$u-icon-phone-forwarded: "\e9b3";
$u-icon-phone-incoming: "\e9b4";
$u-icon-phone-missed: "\e9b5";
$u-icon-phone-off: "\e9b6";
$u-icon-phone-outgoing: "\e9b7";
$u-icon-phone: "\e9b8";
$u-icon-pie-chart: "\e9b9";
$u-icon-play-circle: "\e9ba";
$u-icon-play: "\e9bb";
$u-icon-plus-circle: "\e9bc";
$u-icon-plus-square: "\e9bd";
$u-icon-plus: "\e9be";
$u-icon-pocket: "\e9bf";
$u-icon-power: "\e9c0";
$u-icon-printer: "\e9c1";
$u-icon-radio: "\e9c2";
$u-icon-refresh-ccw: "\e9c3";
$u-icon-refresh-cw: "\e9c4";
$u-icon-repeat: "\e9c5";
$u-icon-rewind: "\e9c6";
$u-icon-rotate-ccw: "\e9c7";
$u-icon-rotate-cw: "\e9c8";
$u-icon-rss: "\e9c9";
$u-icon-save: "\e9ca";
$u-icon-scissors: "\e9cb";
$u-icon-search: "\e9cc";
$u-icon-send: "\e9cd";
$u-icon-server: "\e9ce";
$u-icon-settings: "\e9cf";
$u-icon-share-2: "\e9d0";
$u-icon-share: "\e9d1";
$u-icon-shield-off: "\e9d2";
$u-icon-shield: "\e9d3";
$u-icon-shopping-bag: "\e9d4";
$u-icon-shopping-cart: "\e9d5";
$u-icon-shuffle: "\e9d6";
$u-icon-sidebar: "\e9d7";
$u-icon-skip-back: "\e9d8";
$u-icon-skip-forward: "\e9d9";
$u-icon-slack: "\e9da";
$u-icon-slash: "\e9db";
$u-icon-sliders: "\e9dc";
$u-icon-smartphone: "\e9dd";
$u-icon-smile: "\e9de";
$u-icon-speaker: "\e9df";
$u-icon-square: "\e9e0";
$u-icon-star: "\e9e1";
$u-icon-stop-circle: "\e9e2";
$u-icon-sun: "\e9e3";
$u-icon-sunrise: "\e9e4";
$u-icon-sunset: "\e9e5";
$u-icon-tablet: "\e9e6";
$u-icon-tag: "\e9e7";
$u-icon-target: "\e9e8";
$u-icon-terminal: "\e9e9";
$u-icon-thermometer: "\e9ea";
$u-icon-thumbs-down: "\e9eb";
$u-icon-thumbs-up: "\e9ec";
$u-icon-toggle-left: "\e9ed";
$u-icon-toggle-right: "\e9ee";
$u-icon-trash-2: "\e9ef";
$u-icon-trash: "\e9f0";
$u-icon-trello: "\e9f1";
$u-icon-trending-down: "\e9f2";
$u-icon-trending-up: "\e9f3";
$u-icon-triangle: "\e9f4";
$u-icon-truck: "\e9f5";
$u-icon-tv: "\e9f6";
$u-icon-twitter: "\e9f7";
$u-icon-type: "\e9f8";
$u-icon-umbrella: "\e9f9";
$u-icon-underline: "\e9fa";
$u-icon-unlock: "\e9fb";
$u-icon-upload-cloud: "\e9fc";
$u-icon-upload: "\e9fd";
$u-icon-user-check: "\e9fe";
$u-icon-user-minus: "\e9ff";
$u-icon-user-plus: "\ea00";
$u-icon-user-x: "\ea01";
$u-icon-user: "\ea02";
$u-icon-users: "\ea03";
$u-icon-video-off: "\ea04";
$u-icon-video: "\ea05";
$u-icon-voicemail: "\ea06";
$u-icon-volume-1: "\ea07";
$u-icon-volume-2: "\ea08";
$u-icon-volume-x: "\ea09";
$u-icon-volume: "\ea0a";
$u-icon-watch: "\ea0b";
$u-icon-wifi-off: "\ea0c";
$u-icon-wifi: "\ea0d";
$u-icon-wind: "\ea0e";
$u-icon-x-circle: "\ea0f";
$u-icon-x-octagon: "\ea10";
$u-icon-x-square: "\ea11";
$u-icon-x: "\ea12";
$u-icon-youtube: "\ea13";
$u-icon-zap-off: "\ea14";
$u-icon-zap: "\ea15";
$u-icon-zoom-in: "\ea16";
$u-icon-zoom-out: "\ea17";

.u-icon-activity {
  &::before {
    content: $u-icon-activity;
  }
}
.u-icon-airplay {
  &::before {
    content: $u-icon-airplay;
  }
}
.u-icon-alert-circle {
  &::before {
    content: $u-icon-alert-circle;
  }
}
.u-icon-alert-octagon {
  &::before {
    content: $u-icon-alert-octagon;
  }
}
.u-icon-alert-triangle {
  &::before {
    content: $u-icon-alert-triangle;
  }
}
.u-icon-align-center {
  &::before {
    content: $u-icon-align-center;
  }
}
.u-icon-align-justify {
  &::before {
    content: $u-icon-align-justify;
  }
}
.u-icon-align-left {
  &::before {
    content: $u-icon-align-left;
  }
}
.u-icon-align-right {
  &::before {
    content: $u-icon-align-right;
  }
}
.u-icon-anchor {
  &::before {
    content: $u-icon-anchor;
  }
}
.u-icon-aperture {
  &::before {
    content: $u-icon-aperture;
  }
}
.u-icon-archive {
  &::before {
    content: $u-icon-archive;
  }
}
.u-icon-arrow-down-circle {
  &::before {
    content: $u-icon-arrow-down-circle;
  }
}
.u-icon-arrow-down-left {
  &::before {
    content: $u-icon-arrow-down-left;
  }
}
.u-icon-arrow-down-right {
  &::before {
    content: $u-icon-arrow-down-right;
  }
}
.u-icon-arrow-down {
  &::before {
    content: $u-icon-arrow-down;
  }
}
.u-icon-arrow-left-circle {
  &::before {
    content: $u-icon-arrow-left-circle;
  }
}
.u-icon-arrow-left {
  &::before {
    content: $u-icon-arrow-left;
  }
}
.u-icon-arrow-right-circle {
  &::before {
    content: $u-icon-arrow-right-circle;
  }
}
.u-icon-arrow-right {
  &::before {
    content: $u-icon-arrow-right;
  }
}
.u-icon-arrow-up-circle {
  &::before {
    content: $u-icon-arrow-up-circle;
  }
}
.u-icon-arrow-up-left {
  &::before {
    content: $u-icon-arrow-up-left;
  }
}
.u-icon-arrow-up-right {
  &::before {
    content: $u-icon-arrow-up-right;
  }
}
.u-icon-arrow-up {
  &::before {
    content: $u-icon-arrow-up;
  }
}
.u-icon-at-sign {
  &::before {
    content: $u-icon-at-sign;
  }
}
.u-icon-award {
  &::before {
    content: $u-icon-award;
  }
}
.u-icon-bar-chart-2 {
  &::before {
    content: $u-icon-bar-chart-2;
  }
}
.u-icon-bar-chart {
  &::before {
    content: $u-icon-bar-chart;
  }
}
.u-icon-battery-charging {
  &::before {
    content: $u-icon-battery-charging;
  }
}
.u-icon-battery {
  &::before {
    content: $u-icon-battery;
  }
}
.u-icon-bell-off {
  &::before {
    content: $u-icon-bell-off;
  }
}
.u-icon-bell {
  &::before {
    content: $u-icon-bell;
  }
}
.u-icon-bluetooth {
  &::before {
    content: $u-icon-bluetooth;
  }
}
.u-icon-bold {
  &::before {
    content: $u-icon-bold;
  }
}
.u-icon-book-open {
  &::before {
    content: $u-icon-book-open;
  }
}
.u-icon-book {
  &::before {
    content: $u-icon-book;
  }
}
.u-icon-bookmark {
  &::before {
    content: $u-icon-bookmark;
  }
}
.u-icon-box {
  &::before {
    content: $u-icon-box;
  }
}
.u-icon-briefcase {
  &::before {
    content: $u-icon-briefcase;
  }
}
.u-icon-calendar {
  &::before {
    content: $u-icon-calendar;
  }
}
.u-icon-camera-off {
  &::before {
    content: $u-icon-camera-off;
  }
}
.u-icon-camera {
  &::before {
    content: $u-icon-camera;
  }
}
.u-icon-cast {
  &::before {
    content: $u-icon-cast;
  }
}
.u-icon-check-circle {
  &::before {
    content: $u-icon-check-circle;
  }
}
.u-icon-check-square {
  &::before {
    content: $u-icon-check-square;
  }
}
.u-icon-check {
  &::before {
    content: $u-icon-check;
  }
}
.u-icon-chevron-down {
  &::before {
    content: $u-icon-chevron-down;
  }
}
.u-icon-chevron-left {
  &::before {
    content: $u-icon-chevron-left;
  }
}
.u-icon-chevron-right {
  &::before {
    content: $u-icon-chevron-right;
  }
}
.u-icon-chevron-up {
  &::before {
    content: $u-icon-chevron-up;
  }
}
.u-icon-chevrons-down {
  &::before {
    content: $u-icon-chevrons-down;
  }
}
.u-icon-chevrons-left {
  &::before {
    content: $u-icon-chevrons-left;
  }
}
.u-icon-chevrons-right {
  &::before {
    content: $u-icon-chevrons-right;
  }
}
.u-icon-chevrons-up {
  &::before {
    content: $u-icon-chevrons-up;
  }
}
.u-icon-chrome {
  &::before {
    content: $u-icon-chrome;
  }
}
.u-icon-circle {
  &::before {
    content: $u-icon-circle;
  }
}
.u-icon-clipboard {
  &::before {
    content: $u-icon-clipboard;
  }
}
.u-icon-clock {
  &::before {
    content: $u-icon-clock;
  }
}
.u-icon-cloud-drizzle {
  &::before {
    content: $u-icon-cloud-drizzle;
  }
}
.u-icon-cloud-lightning {
  &::before {
    content: $u-icon-cloud-lightning;
  }
}
.u-icon-cloud-off {
  &::before {
    content: $u-icon-cloud-off;
  }
}
.u-icon-cloud-rain {
  &::before {
    content: $u-icon-cloud-rain;
  }
}
.u-icon-cloud-snow {
  &::before {
    content: $u-icon-cloud-snow;
  }
}
.u-icon-cloud {
  &::before {
    content: $u-icon-cloud;
  }
}
.u-icon-code {
  &::before {
    content: $u-icon-code;
  }
}
.u-icon-codepen {
  &::before {
    content: $u-icon-codepen;
  }
}
.u-icon-codesandbox {
  &::before {
    content: $u-icon-codesandbox;
  }
}
.u-icon-coffee {
  &::before {
    content: $u-icon-coffee;
  }
}
.u-icon-columns {
  &::before {
    content: $u-icon-columns;
  }
}
.u-icon-command {
  &::before {
    content: $u-icon-command;
  }
}
.u-icon-compass {
  &::before {
    content: $u-icon-compass;
  }
}
.u-icon-copy {
  &::before {
    content: $u-icon-copy;
  }
}
.u-icon-corner-down-left {
  &::before {
    content: $u-icon-corner-down-left;
  }
}
.u-icon-corner-down-right {
  &::before {
    content: $u-icon-corner-down-right;
  }
}
.u-icon-corner-left-down {
  &::before {
    content: $u-icon-corner-left-down;
  }
}
.u-icon-corner-left-up {
  &::before {
    content: $u-icon-corner-left-up;
  }
}
.u-icon-corner-right-down {
  &::before {
    content: $u-icon-corner-right-down;
  }
}
.u-icon-corner-right-up {
  &::before {
    content: $u-icon-corner-right-up;
  }
}
.u-icon-corner-up-left {
  &::before {
    content: $u-icon-corner-up-left;
  }
}
.u-icon-corner-up-right {
  &::before {
    content: $u-icon-corner-up-right;
  }
}
.u-icon-cpu {
  &::before {
    content: $u-icon-cpu;
  }
}
.u-icon-credit-card {
  &::before {
    content: $u-icon-credit-card;
  }
}
.u-icon-crop {
  &::before {
    content: $u-icon-crop;
  }
}
.u-icon-crosshair {
  &::before {
    content: $u-icon-crosshair;
  }
}
.u-icon-database {
  &::before {
    content: $u-icon-database;
  }
}
.u-icon-delete {
  &::before {
    content: $u-icon-delete;
  }
}
.u-icon-disc {
  &::before {
    content: $u-icon-disc;
  }
}
.u-icon-dollar-sign {
  &::before {
    content: $u-icon-dollar-sign;
  }
}
.u-icon-download-cloud {
  &::before {
    content: $u-icon-download-cloud;
  }
}
.u-icon-download {
  &::before {
    content: $u-icon-download;
  }
}
.u-icon-droplet {
  &::before {
    content: $u-icon-droplet;
  }
}
.u-icon-edit-2 {
  &::before {
    content: $u-icon-edit-2;
  }
}
.u-icon-edit-3 {
  &::before {
    content: $u-icon-edit-3;
  }
}
.u-icon-edit {
  &::before {
    content: $u-icon-edit;
  }
}
.u-icon-external-link {
  &::before {
    content: $u-icon-external-link;
  }
}
.u-icon-eye-off {
  &::before {
    content: $u-icon-eye-off;
  }
}
.u-icon-eye {
  &::before {
    content: $u-icon-eye;
  }
}
.u-icon-facebook {
  &::before {
    content: $u-icon-facebook;
  }
}
.u-icon-fast-forward {
  &::before {
    content: $u-icon-fast-forward;
  }
}
.u-icon-feather {
  &::before {
    content: $u-icon-feather;
  }
}
.u-icon-figma {
  &::before {
    content: $u-icon-figma;
  }
}
.u-icon-file-minus {
  &::before {
    content: $u-icon-file-minus;
  }
}
.u-icon-file-plus {
  &::before {
    content: $u-icon-file-plus;
  }
}
.u-icon-file-text {
  &::before {
    content: $u-icon-file-text;
  }
}
.u-icon-file {
  &::before {
    content: $u-icon-file;
  }
}
.u-icon-film {
  &::before {
    content: $u-icon-film;
  }
}
.u-icon-filter {
  &::before {
    content: $u-icon-filter;
  }
}
.u-icon-flag {
  &::before {
    content: $u-icon-flag;
  }
}
.u-icon-folder-minus {
  &::before {
    content: $u-icon-folder-minus;
  }
}
.u-icon-folder-plus {
  &::before {
    content: $u-icon-folder-plus;
  }
}
.u-icon-folder {
  &::before {
    content: $u-icon-folder;
  }
}
.u-icon-framer {
  &::before {
    content: $u-icon-framer;
  }
}
.u-icon-frown {
  &::before {
    content: $u-icon-frown;
  }
}
.u-icon-gift {
  &::before {
    content: $u-icon-gift;
  }
}
.u-icon-git-branch {
  &::before {
    content: $u-icon-git-branch;
  }
}
.u-icon-git-commit {
  &::before {
    content: $u-icon-git-commit;
  }
}
.u-icon-git-merge {
  &::before {
    content: $u-icon-git-merge;
  }
}
.u-icon-git-pull-request {
  &::before {
    content: $u-icon-git-pull-request;
  }
}
.u-icon-github {
  &::before {
    content: $u-icon-github;
  }
}
.u-icon-gitlab {
  &::before {
    content: $u-icon-gitlab;
  }
}
.u-icon-globe {
  &::before {
    content: $u-icon-globe;
  }
}
.u-icon-grid {
  &::before {
    content: $u-icon-grid;
  }
}
.u-icon-hard-drive {
  &::before {
    content: $u-icon-hard-drive;
  }
}
.u-icon-hash {
  &::before {
    content: $u-icon-hash;
  }
}
.u-icon-headphones {
  &::before {
    content: $u-icon-headphones;
  }
}
.u-icon-heart {
  &::before {
    content: $u-icon-heart;
  }
}
.u-icon-help-circle {
  &::before {
    content: $u-icon-help-circle;
  }
}
.u-icon-hexagon {
  &::before {
    content: $u-icon-hexagon;
  }
}
.u-icon-home {
  &::before {
    content: $u-icon-home;
  }
}
.u-icon-image {
  &::before {
    content: $u-icon-image;
  }
}
.u-icon-inbox {
  &::before {
    content: $u-icon-inbox;
  }
}
.u-icon-info {
  &::before {
    content: $u-icon-info;
  }
}
.u-icon-instagram {
  &::before {
    content: $u-icon-instagram;
  }
}
.u-icon-italic {
  &::before {
    content: $u-icon-italic;
  }
}
.u-icon-key {
  &::before {
    content: $u-icon-key;
  }
}
.u-icon-layers {
  &::before {
    content: $u-icon-layers;
  }
}
.u-icon-layout {
  &::before {
    content: $u-icon-layout;
  }
}
.u-icon-life-buoy {
  &::before {
    content: $u-icon-life-buoy;
  }
}
.u-icon-link-2 {
  &::before {
    content: $u-icon-link-2;
  }
}
.u-icon-link {
  &::before {
    content: $u-icon-link;
  }
}
.u-icon-linkedin {
  &::before {
    content: $u-icon-linkedin;
  }
}
.u-icon-list {
  &::before {
    content: $u-icon-list;
  }
}
.u-icon-loader {
  &::before {
    content: $u-icon-loader;
  }
}
.u-icon-lock {
  &::before {
    content: $u-icon-lock;
  }
}
.u-icon-log-in {
  &::before {
    content: $u-icon-log-in;
  }
}
.u-icon-log-out {
  &::before {
    content: $u-icon-log-out;
  }
}
.u-icon-mail {
  &::before {
    content: $u-icon-mail;
  }
}
.u-icon-map-pin {
  &::before {
    content: $u-icon-map-pin;
  }
}
.u-icon-map {
  &::before {
    content: $u-icon-map;
  }
}
.u-icon-maximize-2 {
  &::before {
    content: $u-icon-maximize-2;
  }
}
.u-icon-maximize {
  &::before {
    content: $u-icon-maximize;
  }
}
.u-icon-meh {
  &::before {
    content: $u-icon-meh;
  }
}
.u-icon-menu {
  &::before {
    content: $u-icon-menu;
  }
}
.u-icon-message-circle {
  &::before {
    content: $u-icon-message-circle;
  }
}
.u-icon-message-square {
  &::before {
    content: $u-icon-message-square;
  }
}
.u-icon-mic-off {
  &::before {
    content: $u-icon-mic-off;
  }
}
.u-icon-mic {
  &::before {
    content: $u-icon-mic;
  }
}
.u-icon-minimize-2 {
  &::before {
    content: $u-icon-minimize-2;
  }
}
.u-icon-minimize {
  &::before {
    content: $u-icon-minimize;
  }
}
.u-icon-minus-circle {
  &::before {
    content: $u-icon-minus-circle;
  }
}
.u-icon-minus-square {
  &::before {
    content: $u-icon-minus-square;
  }
}
.u-icon-minus {
  &::before {
    content: $u-icon-minus;
  }
}
.u-icon-monitor {
  &::before {
    content: $u-icon-monitor;
  }
}
.u-icon-moon {
  &::before {
    content: $u-icon-moon;
  }
}
.u-icon-more-horizontal {
  &::before {
    content: $u-icon-more-horizontal;
  }
}
.u-icon-more-vertical {
  &::before {
    content: $u-icon-more-vertical;
  }
}
.u-icon-mouse-pointer {
  &::before {
    content: $u-icon-mouse-pointer;
  }
}
.u-icon-move {
  &::before {
    content: $u-icon-move;
  }
}
.u-icon-music {
  &::before {
    content: $u-icon-music;
  }
}
.u-icon-navigation-2 {
  &::before {
    content: $u-icon-navigation-2;
  }
}
.u-icon-navigation {
  &::before {
    content: $u-icon-navigation;
  }
}
.u-icon-octagon {
  &::before {
    content: $u-icon-octagon;
  }
}
.u-icon-package {
  &::before {
    content: $u-icon-package;
  }
}
.u-icon-paperclip {
  &::before {
    content: $u-icon-paperclip;
  }
}
.u-icon-pause-circle {
  &::before {
    content: $u-icon-pause-circle;
  }
}
.u-icon-pause {
  &::before {
    content: $u-icon-pause;
  }
}
.u-icon-pen-tool {
  &::before {
    content: $u-icon-pen-tool;
  }
}
.u-icon-percent {
  &::before {
    content: $u-icon-percent;
  }
}
.u-icon-phone-call {
  &::before {
    content: $u-icon-phone-call;
  }
}
.u-icon-phone-forwarded {
  &::before {
    content: $u-icon-phone-forwarded;
  }
}
.u-icon-phone-incoming {
  &::before {
    content: $u-icon-phone-incoming;
  }
}
.u-icon-phone-missed {
  &::before {
    content: $u-icon-phone-missed;
  }
}
.u-icon-phone-off {
  &::before {
    content: $u-icon-phone-off;
  }
}
.u-icon-phone-outgoing {
  &::before {
    content: $u-icon-phone-outgoing;
  }
}
.u-icon-phone {
  &::before {
    content: $u-icon-phone;
  }
}
.u-icon-pie-chart {
  &::before {
    content: $u-icon-pie-chart;
  }
}
.u-icon-play-circle {
  &::before {
    content: $u-icon-play-circle;
  }
}
.u-icon-play {
  &::before {
    content: $u-icon-play;
  }
}
.u-icon-plus-circle {
  &::before {
    content: $u-icon-plus-circle;
  }
}
.u-icon-plus-square {
  &::before {
    content: $u-icon-plus-square;
  }
}
.u-icon-plus {
  &::before {
    content: $u-icon-plus;
  }
}
.u-icon-pocket {
  &::before {
    content: $u-icon-pocket;
  }
}
.u-icon-power {
  &::before {
    content: $u-icon-power;
  }
}
.u-icon-printer {
  &::before {
    content: $u-icon-printer;
  }
}
.u-icon-radio {
  &::before {
    content: $u-icon-radio;
  }
}
.u-icon-refresh-ccw {
  &::before {
    content: $u-icon-refresh-ccw;
  }
}
.u-icon-refresh-cw {
  &::before {
    content: $u-icon-refresh-cw;
  }
}
.u-icon-repeat {
  &::before {
    content: $u-icon-repeat;
  }
}
.u-icon-rewind {
  &::before {
    content: $u-icon-rewind;
  }
}
.u-icon-rotate-ccw {
  &::before {
    content: $u-icon-rotate-ccw;
  }
}
.u-icon-rotate-cw {
  &::before {
    content: $u-icon-rotate-cw;
  }
}
.u-icon-rss {
  &::before {
    content: $u-icon-rss;
  }
}
.u-icon-save {
  &::before {
    content: $u-icon-save;
  }
}
.u-icon-scissors {
  &::before {
    content: $u-icon-scissors;
  }
}
.u-icon-search {
  &::before {
    content: $u-icon-search;
  }
}
.u-icon-send {
  &::before {
    content: $u-icon-send;
  }
}
.u-icon-server {
  &::before {
    content: $u-icon-server;
  }
}
.u-icon-settings {
  &::before {
    content: $u-icon-settings;
  }
}
.u-icon-share-2 {
  &::before {
    content: $u-icon-share-2;
  }
}
.u-icon-share {
  &::before {
    content: $u-icon-share;
  }
}
.u-icon-shield-off {
  &::before {
    content: $u-icon-shield-off;
  }
}
.u-icon-shield {
  &::before {
    content: $u-icon-shield;
  }
}
.u-icon-shopping-bag {
  &::before {
    content: $u-icon-shopping-bag;
  }
}
.u-icon-shopping-cart {
  &::before {
    content: $u-icon-shopping-cart;
  }
}
.u-icon-shuffle {
  &::before {
    content: $u-icon-shuffle;
  }
}
.u-icon-sidebar {
  &::before {
    content: $u-icon-sidebar;
  }
}
.u-icon-skip-back {
  &::before {
    content: $u-icon-skip-back;
  }
}
.u-icon-skip-forward {
  &::before {
    content: $u-icon-skip-forward;
  }
}
.u-icon-slack {
  &::before {
    content: $u-icon-slack;
  }
}
.u-icon-slash {
  &::before {
    content: $u-icon-slash;
  }
}
.u-icon-sliders {
  &::before {
    content: $u-icon-sliders;
  }
}
.u-icon-smartphone {
  &::before {
    content: $u-icon-smartphone;
  }
}
.u-icon-smile {
  &::before {
    content: $u-icon-smile;
  }
}
.u-icon-speaker {
  &::before {
    content: $u-icon-speaker;
  }
}
.u-icon-square {
  &::before {
    content: $u-icon-square;
  }
}
.u-icon-star {
  &::before {
    content: $u-icon-star;
  }
}
.u-icon-stop-circle {
  &::before {
    content: $u-icon-stop-circle;
  }
}
.u-icon-sun {
  &::before {
    content: $u-icon-sun;
  }
}
.u-icon-sunrise {
  &::before {
    content: $u-icon-sunrise;
  }
}
.u-icon-sunset {
  &::before {
    content: $u-icon-sunset;
  }
}
.u-icon-tablet {
  &::before {
    content: $u-icon-tablet;
  }
}
.u-icon-tag {
  &::before {
    content: $u-icon-tag;
  }
}
.u-icon-target {
  &::before {
    content: $u-icon-target;
  }
}
.u-icon-terminal {
  &::before {
    content: $u-icon-terminal;
  }
}
.u-icon-thermometer {
  &::before {
    content: $u-icon-thermometer;
  }
}
.u-icon-thumbs-down {
  &::before {
    content: $u-icon-thumbs-down;
  }
}
.u-icon-thumbs-up {
  &::before {
    content: $u-icon-thumbs-up;
  }
}
.u-icon-toggle-left {
  &::before {
    content: $u-icon-toggle-left;
  }
}
.u-icon-toggle-right {
  &::before {
    content: $u-icon-toggle-right;
  }
}
.u-icon-trash-2 {
  &::before {
    content: $u-icon-trash-2;
  }
}
.u-icon-trash {
  &::before {
    content: $u-icon-trash;
  }
}
.u-icon-trello {
  &::before {
    content: $u-icon-trello;
  }
}
.u-icon-trending-down {
  &::before {
    content: $u-icon-trending-down;
  }
}
.u-icon-trending-up {
  &::before {
    content: $u-icon-trending-up;
  }
}
.u-icon-triangle {
  &::before {
    content: $u-icon-triangle;
  }
}
.u-icon-truck {
  &::before {
    content: $u-icon-truck;
  }
}
.u-icon-tv {
  &::before {
    content: $u-icon-tv;
  }
}
.u-icon-twitter {
  &::before {
    content: $u-icon-twitter;
  }
}
.u-icon-type {
  &::before {
    content: $u-icon-type;
  }
}
.u-icon-umbrella {
  &::before {
    content: $u-icon-umbrella;
  }
}
.u-icon-underline {
  &::before {
    content: $u-icon-underline;
  }
}
.u-icon-unlock {
  &::before {
    content: $u-icon-unlock;
  }
}
.u-icon-upload-cloud {
  &::before {
    content: $u-icon-upload-cloud;
  }
}
.u-icon-upload {
  &::before {
    content: $u-icon-upload;
  }
}
.u-icon-user-check {
  &::before {
    content: $u-icon-user-check;
  }
}
.u-icon-user-minus {
  &::before {
    content: $u-icon-user-minus;
  }
}
.u-icon-user-plus {
  &::before {
    content: $u-icon-user-plus;
  }
}
.u-icon-user-x {
  &::before {
    content: $u-icon-user-x;
  }
}
.u-icon-user {
  &::before {
    content: $u-icon-user;
  }
}
.u-icon-users {
  &::before {
    content: $u-icon-users;
  }
}
.u-icon-video-off {
  &::before {
    content: $u-icon-video-off;
  }
}
.u-icon-video {
  &::before {
    content: $u-icon-video;
  }
}
.u-icon-voicemail {
  &::before {
    content: $u-icon-voicemail;
  }
}
.u-icon-volume-1 {
  &::before {
    content: $u-icon-volume-1;
  }
}
.u-icon-volume-2 {
  &::before {
    content: $u-icon-volume-2;
  }
}
.u-icon-volume-x {
  &::before {
    content: $u-icon-volume-x;
  }
}
.u-icon-volume {
  &::before {
    content: $u-icon-volume;
  }
}
.u-icon-watch {
  &::before {
    content: $u-icon-watch;
  }
}
.u-icon-wifi-off {
  &::before {
    content: $u-icon-wifi-off;
  }
}
.u-icon-wifi {
  &::before {
    content: $u-icon-wifi;
  }
}
.u-icon-wind {
  &::before {
    content: $u-icon-wind;
  }
}
.u-icon-x-circle {
  &::before {
    content: $u-icon-x-circle;
  }
}
.u-icon-x-octagon {
  &::before {
    content: $u-icon-x-octagon;
  }
}
.u-icon-x-square {
  &::before {
    content: $u-icon-x-square;
  }
}
.u-icon-x {
  &::before {
    content: $u-icon-x;
  }
}
.u-icon-youtube {
  &::before {
    content: $u-icon-youtube;
  }
}
.u-icon-zap-off {
  &::before {
    content: $u-icon-zap-off;
  }
}
.u-icon-zap {
  &::before {
    content: $u-icon-zap;
  }
}
.u-icon-zoom-in {
  &::before {
    content: $u-icon-zoom-in;
  }
}
.u-icon-zoom-out {
  &::before {
    content: $u-icon-zoom-out;
  }
}